<div class="modal d-flex" [ngClass]="{'open': open}" *ngIf="open">
  <div class="modal-dialog align-self-center ">
    <div class="modal-content">
      <div class="modal-header">
        Share Section
        <button type="button" class="close" (click)="open = false" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="sharePropertiesForm">
          <div class="form-row">


            <div class="form-group col">
              <label for="startPos">Start Line</label>
              <input formControlName="startPos" type="number" class="form-control" id="startPos">
            </div>
            <div class="form-group col">
              <label for="endPos">End Line</label>
              <input formControlName="endPos" type="number" class="form-control" id="endPos">
            </div>
          </div>
        </form>
        <div class="form-group">
          <label>Share URL</label>
          <input readonly="true" class="form-control" [value]="embedURL" />
        </div>
        <div class="form-group">
          <label>Embed</label>
          <textarea readonly="true" class="form-control">{{ embedCode }}</textarea>
        </div>
        <iframe *ngIf="iframeURL" [src]="iframeURL"></iframe>
        <div class="text-muted">*Note: The audio player is disabled when the episode timecode accuracy is too low.</div>
      </div>
    </div>
  </div>
</div>
