<div class="episode-summary p-2">
  <div class="head d-flex flex-row mb-2">
    <div class="d-flex flex-row flex-grow-1">
      <div class="icon"></div>
      <div class="pl-3">
        <div class="title">
          <a [routerLink]="['/ep', episode.id]">Series {{episode.series}} Episode {{episode.episode}}</a>
        </div>
        <div class="sub-title">{{episode.releaseDate}}</div>
      </div>
    </div>
    <div>
      <div *ngIf="episode.transcriptAvailable && !episode.incomplete" class="badge"><i class="bi bi-card-text mr-1"></i> Complete Transcript</div>
      <div *ngIf="!episode.transcriptAvailable || episode.incomplete" class="badge"><i class="bi bi-card-text text-danger mr-1"></i> Incomplete Transcript</div>
    </div>
  </div>
  <div class="body mb-2">
    <div *ngIf="episode.synopsis?.length === 0" class="text-muted">No synopsis available.</div>
    <ul *ngIf="episode.synopsis?.length > 0">
      <li *ngFor="let syn of episode.synopsis">{{syn}}</li>
    </ul>
  </div>
  <div class="foot text-right">

  </div>
</div>
