@import "src/scss/variables";

.episode-summary {
  width: 100%;

  .head {

  }

  .icon {
    width: 4rem;
    height: 4rem;
    background-color: $secondary;
    background-position: center;
    background-size: cover;
    border-radius: 2px;
    cursor: pointer;
  }

  .icon i {
    display: none;
  }

  .icon:hover i {
    display: block;
  }

  .title {
    font-weight: bold;
  }

  .sub-title {
  }

  .foot {
  }

  ul {
    padding-left: 0;
  }

  .album-art {
    border-radius: 5px;
    position: relative;;

    .played-corner-marker {
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border-top: 15px solid $primary;
      border-left: 15px solid transparent;
    }
  }
}
