<div class="episode-summary">
  <div class="head d-flex flex-row p-2">
    <div class="d-flex flex-row flex-grow-1">
      <div
        (click)="playEpisode(episode)"
        class="icon d-flex align-items-center justify-content-around"
        [style.background-image]="'url(assets/cover/'+episode.publication+'-s'+episode.series+'.jpg'">
        <i class="bi-play-circle"></i>
      </div>
      <div class="pl-3">
        <div class="title mb-1">
          <a [routerLink]="['/ep', episode.id]">Series {{episode.series}} Episode {{episode.episode}}</a>
        </div>
        <div class="sub-title mb-2">{{episode.releaseDate}}</div>
      </div>
    </div>
    <div>
      <div *ngIf="episode.transcriptAvailable && !episode.incomplete" class="badge"><i class="bi bi-card-text mr-1"></i> Complete Transcript</div>
      <div *ngIf="!episode.transcriptAvailable || episode.incomplete" class="badge"><i class="bi bi-card-text text-danger mr-1"></i> Incomplete Transcript</div>
      <div *ngIf="episode.triviaAvailable" class="badge"><i class="bi bi-card-text mr-1"></i> Trivia</div>
    </div>
  </div>
  <div class="body mb-2 p-2">
    <div *ngIf="episode.synopsis?.length === 0" class="text-muted">No synopsis available.</div>
    <ul class="pl-3" *ngIf="episode.synopsis?.length > 0">
      <li *ngFor="let syn of episode.synopsis">
        {{syn.description}} <a class="text-muted" [routerLink]="['/ep', episode.id]" [fragment]="'pos-'+syn.startPos+'-'+syn.endPos"><i class="bi bi-arrow-right"></i></a>
      </li>
    </ul>
  </div>
  <div class="foot text-muted p-2 text-right">
    {{episode.actors.join(', ')}}
  </div>
</div>
