@import "src/scss/variables";

.episode-summary {
  width: 100%;

  .head {

  }

  .icon {
    width: 4rem;
    height: 4rem;
    background-color: $secondary;
    background-position: center;
    background-size: cover;
    border-radius: 2px;
    cursor: pointer;
  }

  .icon i {
    display: none;
  }

  .icon:hover i {
    display: block;
  }

  .title {
    font-weight: bold;
  }

  .sub-title {
    font-size: 1rem;
  }

  .foot {
  }

  ul {
    padding-left: 0;
  }
}
