@import "../scss/vars";

.filterbar-container {
  width: 100%;
  border: $bar-border;
  background-color: $bar-background-color;
  padding: $bar-padding;

  &:hover, &.focus {
    border: $bar-border-focus;
  }

  .input-container {
    display: flex;
    flex-direction: row;

    .selected {
      display: flex;
      flex-direction: row;

      .item {
        background-color: $bar-selected-item-background-color;
        display: flex;
        margin-right: $bar-selected-item-spacing;
        border: $bar-selected-item-border;

        &.pending {
          border-right: none;
        }

        .label {
          padding: $common-gutter-size;
        }
        .comparison {
          padding: $common-gutter-size 0 $common-gutter-size 0;
          margin: 0 $common-gutter-size 0 $common-gutter-size;
        }
        .values {
          white-space: nowrap;
          padding: $common-gutter-size;
        }
        .close {
          padding: $common-gutter-size;
        }
      }
    }

    .input {
      position: relative;
      width: 100%;
      padding: 5px;

      input {
        position: relative;
        width: 100%;
        outline: none;
        border-color: transparent;
        box-shadow: none;
      }
    }

    .reset {
      padding: 5px 5px 5px 5px;
    }
  }
}

.selectable:hover {
  cursor: pointer;
  background-color: $common-selectable-hover-background-color;
}
