<div class="d-flex filter align-items-center">
  <div class="field mr-2">
    {{ _field.meta.name }}
  </div>
  <div class="operator mr-1">
    <ng-select [items]="possibleOperators" [(ngModel)]="_field.operator" [clearable]="false"></ng-select>
  </div>
  <div class="value mr-1">
    <ng-select *ngIf="_field.meta.kind === kinds.KEYWORD"
               [items]="possibleValues$ | async"
               bindLabel="value"
               [minTermLength]="0"
               [loading]="valuesLoading"
               [typeahead]="valueInput$"
               [(ngModel)]="_field.value"
               [trackByFn]="trackByFn"
               [clearable]="false"
               (keydown.enter)="$event.stopImmediatePropagation(); valueInput$.next('')"
                class="keyword-select">
    </ng-select>
    <span *ngIf="_field.meta.kind !== kinds.KEYWORD">
      <input *ngIf="_field.meta.kind === kinds.INT || _field.meta.kind === kinds.FLOAT" [(ngModel)]="_field.value" type="number" class="number-select"/>
      <input *ngIf="_field.meta.kind !== kinds.INT && _field.meta.kind !== kinds.FLOAT" [(ngModel)]="_field.value" type="text" class="other-select"/>
    </span>
  </div>
</div>
