@import "src/scss/variables";
.filter {
  padding: 5px 0px 5px 10px;
}

.field {
}

.operator {
  width: 64px;
}

.value {

}

.keyword-select, .other-select {
  width: 150px;
}

.number-select {
  width: 50px;
}

.number-select, .other-select {
  background-color: $ng-select-bg;
  border: none;
  padding: 3px 5px;
}

.connector {

}
