<div class="card mb-3">
  <div class="card-body">
    <div class="audio-player">
      <app-audio-player [src]="audioPlayerURL" [playbackRate]="editorConfig.playbackRate || 1.0"
                        #audioPlayer></app-audio-player>
      <div class="mt-3 text-sm text-right">
        <i class="bi-keyboard-fill"></i> Press <span
        class="badge">{{editorConfig?.playPauseKey || 'Insert'}}</span> key to toggle audio playback.
        <span class="badge">{{editorConfig?.rewindKey || 'ScrollLock'}}</span>/<span class="badge">{{editorConfig?.fastForwardKey || 'Pause'}}</span>
        keys to skip backwards/forwards.
        Autoseek is <span class="badge">{{editorConfig?.autoSeek ? 'ON' : 'OFF'}}</span>.
        Audio speed is <span class="badge">{{editorConfig?.playbackRate | number}}</span>.
        Change using the Editor/Audio Config below.
      </div>
    </div>
  </div>
</div>

<ul class="nav nav-tabs font-weight-bold">
  <li class="nav-item mr-2">
    <a class="nav-link" (click)="activeTab='edit'" [ngClass]="{'active': activeTab==='edit'}">Editor</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="activeTab='preview'" [ngClass]="{'active': activeTab==='preview'}">Preview</a>
  </li>
</ul>

<div class="card" [hidden]="!(activeTab==='edit')">
  <div class="card-header sticky-top">

      <button class="btn btn-success btn-sm mr-3" *ngIf="allowEdit" (click)="insertOffsetAboveCaret()" title="Add an #OFFSET tag above the cursor to the current audio timestamp">
        #OFFSET (current)
      </button>

    <button class="btn btn-success btn-sm mr-3" *ngIf="allowEdit" (click)="insertTextAboveCaret('#SYN: ')" title="Add an opening #SYN:  tag above the cursor">
      #SYN
    </button>
    <button class="btn btn-success btn-sm mr-3" *ngIf="allowEdit" (click)="insertTextAboveCaret('#/SYN')" title="Add a closing #/SYN tag above the cursor">
      #/SYN
    </button>
    <button class="btn btn-success btn-sm mr-3" *ngIf="allowEdit" (click)="insertTextAboveCaret('#TRIVIA: ')" title="Add an opening #TRIVIA: tag above the cursor">
      #TRIVIA
    </button>
    <button class="btn btn-success btn-sm mr-3" *ngIf="allowEdit" (click)="insertTextAboveCaret('#/TRIVIA')" title="Add a closing #/TRIVIA tag above the cursor">
      #/TRIVIA
    </button>

      <span class="float-right">
        <button class="btn btn-sm" (click)="showHelp = !showHelp"
                [ngClass]="{'btn-outline-primary': !showHelp, 'btn-primary': showHelp}" title="Toggle help text">
          <span *ngIf="!showHelp">I am confused</span>
          <span *ngIf="showHelp">I am satisfied</span>
        </button>
      </span>
    <span class="float-right">
        <button class="btn btn-danger btn-sm mr-3" *ngIf="allowEdit" (click)="resetToRaw()"
                title="revert text to chunk original">Reset</button>
      </span>
    <span class="float-right">
        <app-editor-config #editorConfigModal [initialConfig]="editorConfig"
                           (configUpdated)="handleEditorConfigUpdated($event)"></app-editor-config>
        <button class="btn btn-sm btn-info mr-3" *ngIf="allowEdit" (click)="openEditorConfig()"
                title="Change editor config">Editor/Audio Config</button>
      </span>
  </div>

  <div class="card-notification px-4 py-2" *ngIf="fromBackup">
    Transcript was recovered from a local backup (you can <a class="btn btn-sm btn-primary" (click)="resetToRaw()">discard</a> the backup to view the <span *ngIf="isSaved">saved</span><span *ngIf="!isSaved">unedited</span> transcript).
    <button type="button" class="close" aria-label="Close" (click)="fromBackup = false">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div [hidden]="showHelp">
    <div class="card-body">
      <!-- watch out for ngIfs here - if the editor is removed from the dom it will cause the text to be reset to the initial transcript -->
      <app-editor
        #editor
        [readonly]="!allowEdit"
        [wrap]="editorConfig.wrapText"
        [textContent]="initialTranscript"
        (textContentChange)="setUpdatedTranscript($event)"
        (atOffsetMarker)="handleOffsetNavigate($event)">
      </app-editor>
    </div>
    <div class="card-footer pt-3 pb-3 text-right" *ngIf="allowEdit">
          <span *ngIf="lastUpdateDate" class="text-muted">
            Autosaved {{timeSinceSave()}} ago.
          </span>
        <button *ngIf="isSaved" class="btn btn-sm btn-secondary ml-3" (click)="save()">Save</button>
    </div>
  </div>
  <div class="card-body" [hidden]="!showHelp">
    <app-editor-help [editorConfig]="editorConfig"></app-editor-help>
  </div>
</div>


<div class="card" [hidden]="!(activeTab==='preview')">
  <div class="card-header">
  </div>
  <div class="card-body preview-window">
    <app-synopses [synopses]="parsedTscript?.synopses"></app-synopses>
    <app-trivia [trivia]="parsedTscript?.trivia"></app-trivia>
    <app-transcript [transcript]="parsedTscript?.dialog" [searchResultMode]="false" [enableLineLinking]="true"></app-transcript>
  </div>
</div>
