<div class="card">
  @if (allowEdit) {
    <div class="card-header sticky-top d-flex justify-content-between">
      <div>
        <button class="btn btn-success btn-sm mr-3" (click)="insertOffsetBelowCaret()" title="Add an #OFFSET tag above the cursor to the current audio timestamp. See hotkey in config.">
          #OFFSET ({{(audioStatus?.currentTime || 0) | number:'1.0-2'}}) @if (editorConfig?.insertOffsetKey) {
          <span class="badge"><i class="bi-keyboard-fill mr-1"></i> {{editorConfig?.insertOffsetKey}}</span>
        }
      </button>
      <button class="btn btn-success btn-sm mr-3" (click)="insertSynAboveCaret()" title="Add an opening #SYN:  tag above the cursor">
        #SYN @if (editorConfig?.insertSynKey) {
        <span class="badge"><i class="bi-keyboard-fill mr-1"></i>{{editorConfig?.insertSynKey || 'NONE'}}</span>
      }
    </button>
    <button class="btn btn-success btn-sm mr-3" (click)="insertTextBelowCaret('#/SYN')" title="Add a closing #/SYN tag above the cursor">
      #/SYN
    </button>
    <button class="btn btn-success btn-sm mr-3" (click)="insertTextBelowCaret('#TRIVIA: ')" title="Add an opening #TRIVIA: tag above the cursor">
      #TRIVIA
    </button>
    <button class="btn btn-success btn-sm" (click)="insertTextBelowCaret('#/TRIVIA')" title="Add a closing #/TRIVIA tag above the cursor">
      #/TRIVIA
    </button>
    <span class="mx-3"> | </span>
    <button class="btn btn-success btn-sm" (click)="skipBackwards()" title="Skip audio back">
      <i class="bi bi-skip-backward"></i> Skip @if (editorConfig?.rewindKey) {
      <span class="badge"><i class="bi-keyboard-fill mr-1"></i>{{editorConfig?.rewindKey || 'NONE'}}</span>
    }
  </button>
  <button class="btn btn-success btn-sm ml-3" (click)="togglePlayer()" title="Skip audio back">
    @if (audioStatus.state !== playerStates.playing) {
      <span><i class="bi bi-play-circle-fill"></i> Play</span>
    }
    @if (audioStatus.state === playerStates.playing) {
      <span><i class="bi bi-pause-circle-fill"></i> Pause</span>
    }
    @if (editorConfig?.playPauseKey) {
      <span class="badge"><i class="bi-keyboard-fill mr-1"></i>{{editorConfig?.playPauseKey || 'NONE'}}</span>
    }
  </button>
  <button class="btn btn-success btn-sm ml-3" (click)="skipForward()" title="Skip audio back">
    <i class="bi bi-skip-forward"></i> Skip @if (editorConfig?.fastForwardKey) {
    <span class="badge"><i class="bi-keyboard-fill mr-1"></i>{{editorConfig?.fastForwardKey || 'Pause'}}</span>
  }
</button>
<span class="mx-3"> | </span>
<button class="btn btn-success btn-sm" (click)="refreshEditorHTML()" title="Add coloring to any tags that were added manually. This is not done automatically for performance reasons.">Refresh Formatting</button>
<app-find-replace (onSubmit)="runFindAndReplace($event)"></app-find-replace>
</div>
<div>
  <span class="ml-3">
    <app-editor-config #editorConfigModal [initialConfig]="editorConfig" (configUpdated)="editorConfig = $event"></app-editor-config>
    @if (allowEdit) {
      <button class="btn btn-sm btn-info" (click)="openEditorConfig()" title="Change editor config">Editor/Audio Config</button>
    }
  </span>
  <span>
    <button class="btn btn-sm ml-3" (click)="showHelp = !showHelp"
      [ngClass]="{'btn-outline-success': !showHelp, 'btn-success': showHelp}" title="Toggle help text">
      @if (!showHelp) {
        <span>HELP</span>
      }
      @if (showHelp) {
        <span>Hide HELP</span>
      }
    </button>
  </span>
</div>
</div>
}

@if (allowEdit && fromBackup) {
  <div class="card-notification px-4 py-2">
    Transcript was recovered from a local backup (you can <a class="btn btn-sm btn-primary" (click)="resetToRaw()">discard</a> the backup to keep the current @if (isSaved) {
    <span>saved</span>
    }@if (!isSaved) {
    <span>unedited</span>
    } transcript). Close this dialog to keep the backup.
    <button type="button" class="close" aria-label="Close" (click)="fromBackup = false">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
}

<div [hidden]="showHelp">
  <div class="card-body">
    <!-- watch out for ngIfs here - if the editor is removed from the dom it will cause the text to be reset to the initial transcript -->
    <app-editor-input
      #editorInput
      [readonly]="!allowEdit"
      [wrap]="editorConfig.wrapText"
      [textContent]="initialTranscript"
      (atOffsetMarker)="handleOffsetNavigate($event)"
      (textContentChange)="handleContentUpdated()">
    </app-editor-input>
  </div>
  @if (allowEdit) {
    <div class="card-footer pt-3 pb-3 text-right">
      @if (lastUpdateDate) {
        <span class="text-muted">
          Autosaved {{timeSinceSave()}} ago.
        </span>
      }
      @if (isSaved) {
        <button class="btn btn-sm btn-secondary ml-3" (click)="save()">Save</button>
      }
    </div>
  }
</div>
<div class="card-body" [hidden]="!showHelp">
  <app-editor-help [editorConfig]="editorConfig"></app-editor-help>
</div>
</div>
