@import "src/scss/variables";

.editor {
  font-family: 'Courier Prime', monospace;
  overflow: auto;
  white-space: pre;

  border: none;
  outline: none;
  box-shadow: none;

  min-height: 300px;
  font-size: 1rem;

  background-color: transparent;

  .do-not-edit {
    background-color: transparentize($pink, 0.7);
    cursor: pointer;
  }

  .meta-tag {
    background-color: rgba(128, 255, 128, 0.5);
  }

  span {
    font-size: 1rem !important;
  }
}

.editor.wrap {
  white-space: pre-line;
}
