<nav class="navbar navbar-light bg-light">
  <div class="d-flex w-100">
    <div class="mr-3">
      <a [routerLink]="['/search']"><img src="/assets/android-chrome-192x192.png" style="height: 48px;"/></a>
    </div>
    <div class="flex-grow-1">
      <!--app-dsl-search (executeQuery)="executeSearch($event)"></app-dsl-search-->
      <app-gl-search (queryUpdated)="executeSearch($event)"></app-gl-search>
    </div>
    <div class="ml-3">
      <a class="btn btn-info btn-lg" [routerLink]="['/me']" *ngIf="!loggedInUser?.identity?.icon_img">
        <i class="bi-person"></i>
      </a>
      <a [routerLink]="['/me']" *ngIf="loggedInUser?.identity?.icon_img" >
        <div
          class="user-icon"
          style=" width: 48px; height: 48px; background-image: url({{ loggedInUser?.identity?.icon_img }})">
        </div>
      </a>
    </div>
  </div>
</nav>

<app-alert></app-alert>

<router-outlet></router-outlet>

<app-pending-rewards></app-pending-rewards>

<footer class="footer">
  <div class="container">
    <div class="text-center text-muted mt-4 p-2">
      <a href="https://github.com/warmans/rsk-search/issues" target="_blank">Report a Bug</a> or
      <a href="https://github.com/warmans/rsk-search/pulls" target="_blank">Fix a Bug</a>
    </div>
  </div>
</footer>
