PATH_add server/.env/bin

export REDDIT_SECRET="changeme"
export PLEDGE_SECRET="changeme"
export PLEDGE_FNAME="nobody" PLEDGE_LNAME="nobody"
export PLEDGE_EMAIL="nobody"
export ASSEMBLY_AI_ACCESS_TOKEN="changeme"
export PROD_DB_DSN="postgres://changeme:changeme@localhost:5432/changeme?sslmode=disable"
export COFFEE_ACCESS_TOKEN="changeme"
export MEDIA_BASE_PATH="/home/nobody/scrimpton-audio"
export RSK_SEARCH_SENTRY_DSN="https://changeme@changeme.ingest.sentry.io/changeme"
export RSK_SEARCH_ENV="dev"

source_env .envrc.private
