<div class="mb-4">
  <div class="font-weight-bold mb-2">Speaker</div>
  <div
    *ngFor="let spk of speakers"
    class="badge badge-primary mr-2"
    [ngClass]="{'badge-primary': findModifierIndex('actor', spk) > -1}"
    (click)="selectString('actor', spk)">
    <i class="bi bi-person mr-1"></i> {{ spk | titlecase }}
  </div>
</div>

<div class="mb-4">
  <div class="font-weight-bold mb-2">Publication</div>
  <div
    *ngFor="let pub of publications"
    class="badge badge-primary mr-2"
    [ngClass]="{'badge-primary': findModifierIndex('publication', pub) > -1}"
    (click)="selectString('publication', pub)">
    <i class="bi bi-collection mr-1"></i> {{ pub }}
  </div>
</div>


<div>
  <div class="font-weight-bold mb-2">Line Type</div>
  <div
    *ngFor="let typ of types"
    class="badge badge-primary mr-2"
    [ngClass]="{'badge-primary': findModifierIndex('type', typ) > -1}"
    (click)="selectString('type', typ)">
    <i class="bi bi-justify mr-1"></i> {{ typ }}
  </div>
</div>
