<div class="card">
  <div class="card-header text-paragraph">
    Authors can rank up by submitting more contributions. <a class="text-primary clickable" (click)="showMoreInfo = !showMoreInfo"><span *ngIf="!showMoreInfo">more</span><span *ngIf="showMoreInfo">less</span>...</a>
    <div *ngIf="showMoreInfo" class="pt-2">
      <p>Each time a contribution is <strong>accepted</strong> some points are awarded to the author. The number of points can vary depending on the type of contribution.<br />
        The more points the author gains the higher their rank. While all contributions are valuable, ranks are intended as a way to recognize contributors that have gone above and beyond.
      </p>
    </div>
  </div>
  <div class="card-body p-0">
    <table class="table mb-0">
      <tr>
        <th colspan="2">
          <input class="form-control themed" placeholder="Search..." [formControl]="searchInput"/>
        </th>
        <th title="Points are earned though contributions.">Points <i class="bi-question-circle"></i></th>
        <th>Next Rank</th>
        <th>Edits</th>
        <th>Chunks</th>
        <th title="Rewards were given in the form of charitable donations for transcribing audio.">Raised <i class="bi-question-circle"></i></th>
      </tr>
      <tr *ngFor="let a of ranking; let i = index">
        <td style="width: 34px">
          <div
            [ngClass]="{'supporter': a.author?.supporter}"
            class="user-icon"
            style="background-image: url({{ a.author?.identityIconImg }})">
          </div>
        </td>
        <td>
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <div class="font-weight-bold">
                {{ a.author.name }}
              </div>
              <div class="font-weight-light">
                <span title="Rank unlocked at {{a.currentRank.points}} points, next rank at {{a.nextRank.points}}">{{a.currentRank.name}}</span>
              </div>
            </div>
            <div class="align-items-center">
              <span *ngIf="a.author?.supporter"><i class="bi bi-award-fill ml-2 gold" title="This user has supported Scrimpton with a donation."></i></span>
            </div>
          </div>
        </td>
        <td>{{ a.points | number }}</td>
        <td>
          <div class="progress mb-1 mr-3">
            <div
              class="progress-bar"
              [style.width]="((((a.nextRank.points - a.currentRank.points)-(a.nextRank.points - a.points)) / (a.nextRank.points - a.currentRank.points)) * 100)+'%'">
            </div>
          </div>
          <div class="font-weight-light">
            {{ a.nextRank.points - a.points | number }} point(s) until next rank
          </div>
        </td>
        <td>
          {{ a.approvedChanges }}
        </td>
        <td>
          {{ a.approvedChunks }}
        </td>
        <td>
          {{ a.rewardValueUsd | currency }}
        </td>
      </tr>
    </table>
  </div>

  <app-loading-overlay [loading]="loading" [fullScreen]="false"></app-loading-overlay>

</div>
