.search-bar {
  font-family: monospace;
  font-size: 1.2em;
  white-space: pre;
  border: 1px solid #ddd;
  padding: 10px 5px;
  width: 100%;
  background-color: #f6f6f6;
}

.search-bar:active, .search-bar:focus {
  outline: none;
}

.filter-el {
  font-size: 1.1rem;
}

.filter-el.bool-filter {
  //background-color: rgba(255, 0, 0, 0.2);
}

.filter-el.comp-filter {
  background-image: linear-gradient(#ccc, #ccc),
  linear-gradient(#ccc, #ccc),
  linear-gradient(#ccc, #ccc),
  linear-gradient(#ccc, #ccc);

  background-repeat: no-repeat;
  background-size: 8px 3px;
  background-position: top left, top right, bottom left, bottom right;

  border: solid #ccc;
  border-width: 0 3px;

  //background-color: rgba(0, 255, 0, 0.2);
}

.filter-el.field {
}

.filter-el.value {
  background-color: rgba(0, 0, 0, 0.05);
}
