.search-wrapper {
  color: #333;
}

.inputs {
  border: 1px solid #ccc;
  height: 2.9rem;
  background-color: #fff;
  border-right: none;
}

.freetext-container:active, .freetext-container:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.active-filter {
  background-color: #f6f6f6;

  .remove {
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    font-size: 0.8rem;
    vertical-align: middle;
    justify-content: center;
  }
}

.add-filter:active, .add-filter:focus {
  box-shadow: none;
  outline: none;
}

.filter-overlay {
  position: absolute;
  background-color: #fff;
}

.filter-overlay div {
  cursor: pointer;
}

.filter-overlay div:hover {
  background-color: #f6f6f6;
}
.buttons {
  .btn {
    height: 100%;
  }
}
