<form [formGroup]="searchForm" (submit)="emitQuery()">
  <div class="search-wrapper d-flex">
    <div class="d-flex inputs flex-grow-1">
      <div class="filters-container flex-shrink-1 p-2">
        <button class="btn btn-sm" (click)="addFilter('actor')" type="button">+</button>
      </div>
      <div class="filters flex-grow-1 d-flex align-items-center">
        <div *ngFor="let f of activeFilters; let i = index" class="d-flex active-filter align-items-center mr-1">
          <app-gl-search-filter [field]="f"></app-gl-search-filter>
          <div class="remove" (click)="removeFilter(i)">&times;</div>
        </div>
        <input class="freetext-container flex-grow-1 p-2 border-0" formControlName="term" />
      </div>
    </div>
    <div class="d-flex buttons">
      <button class="btn btn-lg btn-dark" type="submit">Search</button>
    </div>
  </div>
</form>
