<div class="position-relative" #componentRoot>
  <form [formGroup]="searchForm" (submit)="emitQuery()">
    <div class="d-flex search-wrapper ">
      <div class="d-flex inputs flex-grow-1">
        <div class="filters-container flex-shrink-1 p-2">
          <button class="btn btn-sm add-filter" (click)="filterOverlayOpen = !filterOverlayOpen" type="button">+</button>
          <div class="filter-overlay px-2 pt-2 pb-1" *ngIf="filterOverlayOpen">
            <span *ngFor="let f of fieldMeta">
              <div *ngIf="f.kind !== fieldKinds.TEXT && f.kind !== fieldKinds.IDENTIFIER && f.kind !== fieldKinds.KEYWORD_LIST" (click)="addFilter(f.name)" class="mb-1 p-1">{{f.name}}</div>
            </span>
          </div>
        </div>
        <div class="filters flex-grow-1 d-flex align-items-center">
          <div *ngFor="let f of activeFilters; let i = index" class="d-flex align-items-center">
            <strong *ngIf="i !== 0" class="connector px-2">and</strong>
            <div class="d-flex active-filter align-items-center">
              <app-gl-search-filter [field]="f"></app-gl-search-filter>
              <div class="remove" (click)="removeFilter(i)">&times;</div>
            </div>
            <strong *ngIf="i === activeFilters.length-1" class="connector pl-2 pr-1 text-nowrap">with content:</strong>
          </div>
          <div #termInputRoot class="position-relative flex-grow-1">
            <input
              #termInput
              class="freetext-container flex-grow-1 p-2 border-0 form-control"
              formControlName="term"
              placeholder="Enter search terms, double quote terms for a phrase/exact match."
              (keydown)="onKeydown($event)"
              (focus)="setFocus()" />
            <div id="autocomplete-dropdown" class="autocomplete-dropdown p-2" *ngIf="(autoCompleteValues || []).length > 0 && showAutoCompleteDropdown">
              <div class="line"
                   *ngFor="let line of autoCompleteValues; let idx = index"
                   [ngClass]="{'active': idx === selectedAutoCompleteRow}"
                   (click)="setSearchTerm(line, true)"
              >{{ line }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="buttons">
        <button class="btn btn-primary" type="submit"><i class="bi-search"></i></button>
      </div>
    </div>
  </form>
</div>
