<div class="modal" [ngClass]="{'open': open}" tabindex="-1" role="dialog">
  <div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editor Config</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="configForm">

          <div class="form-group">
            <div class="form-row">
              <div class="col-md-8">
                <label for="play-pause-key"
                       title="This key will cause the audio to be paused, and rewound by a couple of seconds.">
                  Play/Pause Key <i class="bi-question-circle ml-2"></i>
                </label>
                <select id="play-pause-key"  class="form-control form-control-sm" formControlName="playPauseKey">
                  <option *ngFor="let c of keyCodes" [ngValue]="c">{{ c || 'NONE' }}</option>
                </select>
                <app-form-errors [form]="configForm" fieldName="playPauseKey"></app-form-errors>
              </div>
              <div class="col-md-4">
                <label for="rewindAmount" title="Number of seconds to backtrack each time audio is paused.">
                  Backtrack <i class="bi-question-circle ml-2"></i>
                </label>
                <input type="number" class="form-control form-control-sm" id="rewindAmount" placeholder="3" formControlName="backtrack">
                <app-form-errors [form]="configForm" fieldName="rewindAmount"></app-form-errors>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="playbackRate" title="Adjust the speed of the playback where 0.5 is half speed and 2 is double speed.">
              Audio playback speed <i class="bi-question-circle ml-2"></i>
            </label>
            <input type="number" class="form-control form-control-sm" id="playbackRate" placeholder="1.0" min="0.25" max="4" step="0.25" formControlName="playbackRate">
            <app-form-errors [form]="configForm" fieldName="playbackRate"></app-form-errors>
          </div>
          <div class="form-group">
            <label for="ff-key" title="This key will cause the audio to skip forward a few seconds.">
            Skip Forward Key <i class="bi-question-circle ml-2"></i>
            </label>
            <select id="ff-key"  class="form-control form-control-sm" formControlName="fastForwardKey">
              <option *ngFor="let c of keyCodes" [ngValue]="c">{{ c || 'NONE' }}</option>
            </select>
            <app-form-errors [form]="configForm" fieldName="fastForwardKey"></app-form-errors>
          </div>
          <div class="form-group">
            <label for="rw-key" title="This key will cause the audio to skip backwards a few seconds.">
              Skip Backwards Key <i class="bi-question-circle ml-2"></i>
            </label>
            <select id="rw-key"  class="form-control form-control-sm" formControlName="rewindKey">
              <option *ngFor="let c of keyCodes" [ngValue]="c">{{ c || 'NONE' }}</option>
            </select>
            <app-form-errors [form]="configForm" fieldName="rewindKey"></app-form-errors>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-8">
                <label for="io-key" title="This key will insert an OFFSET for the current audio timestamp">
                  Insert OFFSET <i class="bi-question-circle ml-2"></i>
                </label>
                <select id="io-key"  class="form-control form-control-sm" formControlName="insertOffsetKey">
                  <option *ngFor="let c of keyCodes" [ngValue]="c">{{ c || 'NONE' }}</option>
                </select>
                <app-form-errors [form]="configForm" fieldName="insertOffsetKey"></app-form-errors>
              </div>
              <div class="col-md-4">
                <label for="insertOffsetBacktrack" title="Subtract this many seconds from the offset that is inserted">
                  Backtrack <i class="bi-question-circle ml-2"></i>
                </label>
                <input type="number" class="form-control form-control-sm" id="insertOffsetBacktrack" placeholder="3" formControlName="insertOffsetBacktrack">
                <app-form-errors [form]="configForm" fieldName="insertOffsetBacktrack"></app-form-errors>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="insertSynKey" title="This key will insert a synopsis tag">
              Insert SYN <i class="bi-question-circle ml-2"></i>
            </label>
            <select id="insertSynKey"  class="form-control form-control-sm" formControlName="insertSynKey">
              <option *ngFor="let c of keyCodes" [ngValue]="c">{{ c || 'NONE' }}</option>
            </select>
            <app-form-errors [form]="configForm" fieldName="insertSynKey"></app-form-errors>
          </div>
          <div class="form-group">
            <label for="autoSeek" title="If auto seek is enabled the auto will seek to each #OFFSET as you click or caret over the text.">
              Autoseek <i class="bi-question-circle ml-2"></i>
            </label>
            <select id="autoSeek" class="form-control form-control-sm" formControlName="autoSeek">
              <option [ngValue]="true">ENABLED</option>
              <option [ngValue]="false">DISABLED</option>
            </select>
            <app-form-errors [form]="configForm" fieldName="autoSeek"></app-form-errors>
          </div>
          <div class="form-group">
            <label for="wrapText" title="Causes text to be wrapped inside the editor, instead of using scroll behavior.">
              Wrap Text <i class="bi-question-circle ml-2"></i>
            </label>
            <select id="wrapText" class="form-control form-control-sm" formControlName="wrapText">
              <option [ngValue]="true">ENABLED</option>
              <option [ngValue]="false">DISABLED</option>
            </select>
            <app-form-errors [form]="configForm" fieldName="wrapText"></app-form-errors>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="emitUpdatedconfig()" [disabled]="!configForm.dirty || configForm.invalid">Save</button>
        <button class="btn btn-secondary" (click)="open = false">Cancel</button>
      </div>
    </div>
  </div>
</div>
