<div class="container-fluid pt-3">
  <div class="row">
    <div class="col">
      <div class="card" *ngIf="episode">
        <div class="card-header font-weight-bold">{{ episode.id }}</div>
        <div class="card-body bg-white p-0">
          <div class="row">
            <div class="col">
              <table class="table m-0">
                <tr><th style="width: 120px" class="border-top-0">Publication</th><td class="border-top-0">{{episode.publication}}</td></tr>
                <tr><th>Series</th><td>{{episode.series}}</td></tr>
                <tr><th>Episode</th><td>{{episode.episode}}</td></tr>
                <tr><th>Broadcast</th><td></td></tr>
              </table>
            </div>
            <div class="col">
              <table class="table m-0">
                <tr>
                  <th style="width: 120px" class="border-top-0">Pilkipedia</th>
                  <td class="border-top-0"><a [href]="episode.metadata['pilkipedia_url']" target="_blank">Web archive</a></td>
                </tr>
                <tr>
                  <th>Spotify</th>
                  <td><a [href]="episode.metadata['spotify_uri']">Tinpotradio</a></td>
                </tr>
                <tr>
                  <th>Tags</th>
                  <td>
                    <a *ngFor="let tag of episode.tags" class="badge badge-info mr-2" [routerLink]="['/search']" [queryParams]='{q: query("content", tag.name)}'>{{tag.kind}}: {{tag.name}}</a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="card-header transcript-header border-top sticky-top">
          <div class="d-flex">
            <div class="flex-grow-1 font-weight-bold">Transcript</div>
            <div class=""><button class="btn btn-sm btn-secondary" (click)="scrollToTop()">Back to Top</button></div>
          </div>
        </div>
        <div class="card-body p-3 bg-white">
          <app-transcript [transcript]="episode.transcript" [scrollToID]="scrollToID"></app-transcript>
        </div>
      </div>
    </div>
  </div>
</div>

