<div class="container-fluid pt-3">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/search']">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{shortID}}</li>
    </ol>
  </nav>

  <div *ngIf="authenticated && pendingChanges?.length > 0" class="row mb-3">
    <div class="col-12">
      <div class="alert alert-info">
        This episode has an unmerged change. New changes cannot be created until this is resolved.
        <a class="btn btn-sm btn-info" [routerLink]="['/ep', id, 'change', pendingChanges[0].id]">View Change</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card" *ngIf="episode">
        <div class="card-header d-flex justify-content-between">
          <div>{{ shortID }}<span *ngIf="episode.name"> - "{{episode.name}}"</span></div>
          <div><a *ngIf="previousEpisodeId" class="mr-2" [routerLink]="['/ep', previousEpisodeId]"><i
            class="bi bi-arrow-left"></i> Previous</a> <a *ngIf="nextEpisodeId" class="ml-2"
                                                          [routerLink]="['/ep', nextEpisodeId]">Next <i
            class="bi bi-arrow-right"></i></a></div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-10">
              <table class="table m-0">
                <tr>
                  <th class="border-top-0">Transcript Version</th>
                  <td class="border-top-0 w-100">{{episode.version}}</td>
                </tr>
                <tr>
                  <th>Broadcast</th>
                  <td>{{episode.releaseDate | date}}</td>
                </tr>
                <tr>
                  <th>Transcript Data</th>
                  <td>
                    <a target="_blank" href="/dl/episode/{{episode.id}}.json">{{episode.id}}.json</a> (or <a
                    target="_blank" href="/dl/episode/{{episode.id}}.txt">plaintext</a>)
                  </td>
                </tr>
                <tr>
                  <th>Presenters</th>
                  <td>{{episode.actors.join(', ')}}</td>
                </tr>
                <tr *ngIf="episode.summary">
                  <th>Summary</th>
                  <td>{{ episode.summary }}</td>
                </tr>
                <tr *ngIf="episode.bestof || episode.locked">
                  <th>Tags</th>
                  <td>
                    <span *ngIf="episode.bestof" class="badge badge-secondary">Bestof</span>
                    <span *ngIf="episode.locked" class="badge badge-warning"
                          title="Changes cannot be submitted for this transcript because it is in the process of being transcribed.">Locked</span>
                  </td>
                </tr>
                <tr>
                  <th>Transcribers</th>
                  <td>
                    <span *ngIf="episode.metadata['pilkipedia_url']">
                      <a [href]="episode.metadata['pilkipedia_url']" target="_blank">Pilkipedia</a>
                    </span>
                    <span *ngIf="episode.metadata['pilkipedia_url'] && transcribers"> | </span>
                    <span>{{ transcribers }}</span>
                  </td>
                </tr>
                <tr>
                  <th>Audio</th>
                  <td>
                    <button *ngIf="!audioStatus || audioStatus?.state !== audioStates.playing"
                            class="btn btn-sm btn-primary" (click)="playAudio()"><i class="bi bi-play"></i> Play
                    </button>
                    <button *ngIf="audioStatus?.state === audioStates.playing" class="btn btn-sm btn-primary"
                            (click)="pauseAudio()"><i class="bi bi-pause"></i> Pause
                    </button>
                    <span class="muted ml-3">({{episode.offsetAccuracyPcnt | timecodeAccuracy}}
                      Timecode Accuracy)</span>
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-lg-2 d-flex align-items-center justify-content-around">
              <img class="d-none d-lg-block series-image" [src]="episodeImage"/>
            </div>
          </div>
        </div>
        <ul class="nav nav-tabs font-weight-bold ml-2" *ngIf="activeInfoPanel !== undefined">
          <li class="nav-item mr-2 with-border" *ngIf="episode?.synopses?.length > 0">
            <a class="nav-link" (click)="activeInfoPanel='synopsis'"
               [ngClass]="{'active': activeInfoPanel === 'synopsis'}"><i class="bi bi-card-list mr-1"></i> Synopsis
            </a>
          </li>
          <li class="nav-item mr-2" *ngIf="quotes && quotes.length > 0">
            <a class="nav-link" (click)="activeInfoPanel='quotes'" [ngClass]="{'active': activeInfoPanel === 'quotes'}">
              <i class="bi bi-chat-left-quote mr-1"></i> Quotes
            </a>
          </li>
          <li class="nav-item mr-2" *ngIf="songs && songs.length > 0">
            <a class="nav-link" (click)="activeInfoPanel='songs'" [ngClass]="{'active': activeInfoPanel === 'songs'}">
              <i class="bi bi-speaker mr-1"></i> Songs
            </a>
          </li>
        </ul>
        <div *ngIf="activeInfoPanel === 'synopsis'">
          <div class="card-header border-top"></div>
          <div class="card-body">
            <app-synopses [synopses]="episode?.synopses" [episodeID]="episode.id"></app-synopses>
          </div>
        </div>
        <div *ngIf="activeInfoPanel === 'quotes'">
          <div class="card-header border-top"></div>
          <div class="card-body p-3">
            <div class="mb-1" *ngFor="let quote of quotes">
              <i class="bi-quote mr-2 text-primary"></i>
              <span class="font-italic">
                    "{{quote.content}}" -{{quote.actor}}
                (<a [routerLink]="['/ep', episode?.id]" [fragment]="'pos-'+(quote?.pos)">context</a>)
                  </span>
            </div>
          </div>
        </div>
        <div *ngIf="activeInfoPanel === 'songs'">
          <div class="card-header border-top"></div>
          <div class="card-body p-3">
            <div class="mb-1" *ngFor="let song of songs">
              <div *ngIf="song.metadata['spotify_uri']">
                <a class="text-paragraph" [href]="song.metadata['spotify_uri']">
                  <i class="bi-spotify text-primary mr-2"></i> <span class="text-paragraph">{{song.content}}</span>
                </a>
                (<a [routerLink]="['/ep', episode?.id]" [fragment]="'pos-'+(song?.pos)">context</a>)
              </div>
              <div *ngIf="!song.metadata['spotify_uri']">
                <i class="bi-spotify text-muted mr-2"></i> <span class="text-paragraph">{{song.content}}</span>
                (<a [routerLink]="['/ep', episode?.id]" [fragment]="'pos-'+(song?.pos)">context</a>)
              </div>
            </div>
          </div>
        </div>
        <div class="card-header sticky-top border-top">
          <div class="d-flex">
            <div class="flex-grow-1 font-weight-bold d-flex justify-content-between">
              <div>
                <i class="bi bi-text-left mr-1"></i> Transcript
                <!-- logic for transcript complete flag incomplete-->
                <span *ngIf="episode.incomplete" class="badge badge-warning ml-3">Incomplete</span>
              </div>
              <div class="d-flex">
                <button class="btn btn-sm btn-primary" (click)="scrollToTop()"><i class="bi-arrow-up"></i> Top</button>
                <button class="btn btn-sm btn-info ml-2" *ngIf="scrollToID && selection"
                        (click)="copySelection()"><i class="bi-clipboard"></i> Copy Selection
                </button>
                <ng-container *ngIf="scrollToID || scrollToSeconds">
                  <button class="btn btn-sm btn-info ml-2"
                          (click)="clearSelection()"><i class="bi-escape"></i> Clear Selection
                  </button>
                  <a
                    *ngIf="authenticated && episode.offsetAccuracyPcnt > 1"
                    title="Audio export is provided on a best-effort basis. Since the audio timestamps are not 100% accurate, it's possible you won't get exactly the audio you expect."
                    class="btn btn-sm btn-info ml-2"
                    target="_blank"
                    [href]="episode.audioUri+ '?pos='+selection.startPos+'-'+selection.endPos">
                    <i class="bi-download"></i> Export selection audio
                  </a>
                </ng-container>
                <!--button class="btn btn-sm btn-primary ml-2" *ngIf="scrollToID || scrollToSeconds" (click)="shareSelection()">Share Selection</button-->
                <div class="ml-2" *ngIf="pendingChanges?.length === 0 && !episode.locked">
                  <a class="btn btn-sm btn-info" [routerLink]="['/ep', id, 'change']"><i class="bi-pencil"></i> Submit Correction</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body p-3">
          <app-transcript
            [transcript]="episode"
            [epid]="episode?.id"
            [scrollToID]="scrollToID"
            [scrollToSeconds]="scrollToSeconds"
            [searchResultMode]="false"
            [enableLineLinking]="true"
            [enableLineCopy]="true"
            [enableShareLinks]="!episode?.incomplete"
            (emitAudioTimestamp)="onAudioTimestamp($event)"
            (emitSelection)="selectSection($event)"></app-transcript>
          <div *ngIf="!episode?.transcript?.length" class="text-center p-4">No transcript available.</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid w-25" *ngIf="error && !episode">
  <div class="row">
    <div class="col">
      <div>
        <div class="card">
          <div class="card-body text-center">
            <div>
              <img src="/assets/illustration/pixeltrue-error-1.svg" style="width: 300px"/>
            </div>
            <div class="pb-2"><strong>{{error}}</strong></div>
            <div>Alright, lets see your little website then. Sick of ya...</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-loading-overlay [loading]="loading"></app-loading-overlay>
