<div class="container-fluid pt-3">
  <div class="row">
    <div class="col">
      <div class="card" *ngIf="episode">
        <div class="card-header font-weight-bold">{{ episode.id }}</div>
        <div class="card-body bg-white pb-2">
          <div class="row">
            <div class="col">
              <table class="table m-0">
                <tr>
                  <th style="width: 200px" class="border-top-0">Publication</th>
                  <td class="border-top-0">{{episode.publication}}</td>
                </tr>
                <tr>
                  <th>Series</th>
                  <td>{{episode.series}}</td>
                </tr>
                <tr>
                  <th>Episode</th>
                  <td>{{episode.episode}}</td>
                </tr>
                <tr>
                  <th>Broadcast</th>
                  <td>{{episode.releaseDate}}</td>
                </tr>
              </table>
            </div>
            <div class="col">
              <table class="table m-0">
                <tr>
                  <th style="width: 200px" class="border-top-0">Transcript Source</th>
                  <td class="border-top-0">
                    <span *ngIf="!episode.metadata['pilkipedia_url']">NA</span>
                    <a *ngIf="episode.metadata['pilkipedia_url']" [href]="episode.metadata['pilkipedia_url']"
                       target="_blank">Pilkipedia (Archive)</a>
                  </td>
                </tr>
                <tr>
                  <th>Listen</th>
                  <td>
                    <a *ngIf="episode.metadata['spotify_uri']" [href]="episode.metadata['spotify_uri'] | safeUrl">
                      Tinpotradio (spotify)
                    </a>
                  </td>
                </tr>
                <tr>
                  <th>Tags</th>
                  <td>
                    <a
                      *ngFor="let tag of episode.tags" class="badge badge-info mr-2"
                      [routerLink]="['/search']"
                      [queryParams]='{q: query("content", tag.name)}'>
                      {{tag.kind}}: {{tag.name}}
                    </a>
                  </td>
                </tr>
                <tr>
                  <th>Transcribers</th>
                  <td>
                    <div *ngIf="episode.metadata['pilkipedia_url'] && !episode?.contributors?.length">pilikpedia</div>
                    <div>{{episode.contributors}}</div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="card-header transcript-header border-top sticky-top">
          <div class="d-flex">
            <div class="flex-grow-1 font-weight-bold">Transcript</div>
            <div class="">
              <button class="btn btn-sm btn-secondary" (click)="scrollToTop()">Back to Top</button>
            </div>
          </div>
        </div>
        <div class="card-body p-3 bg-white">
          <app-transcript [transcript]="episode.transcript" [scrollToID]="scrollToID"
                          [enableLineLinks]="true"></app-transcript>
          <div *ngIf="!episode?.transcript?.length" class="text-center p-4">No transcript available.</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid w-25" *ngIf="error && !episode">
  <div class="row">
    <div class="col">
      <div>
        <div class="card">
          <div class="card-body text-center">
            <div>
              <img src="/assets/pixeltrue-error-1.svg" style="width: 300px"/>
            </div>
            <div class="pb-2"><strong>{{error}}</strong></div>
            <div>Alright, lets see your little website then. Sick of ya...</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-loading-overlay [loading]="loading"></app-loading-overlay>
