<div class="card">
  <div class="card-header"><i class="bi-trophy mr-2"></i> Top Contributors</div>
  <div class="card-body p-0">
    <table class="table mb-0">
      <tr *ngFor="let a of authors; let i = index">
        <td style="width: 50px">{{i+1}}</td>
        <td style="width: 150px">

          <span *ngIf="a.approver" class="text-muted">
            <i class="bi-cpu mr-1"></i> {{a.authorName}}
          </span>
          <span *ngIf="!a.approver">
            {{a.authorName}}
          </span>
        </td>
        <td>
          <div *ngIf="a.acceptedContributions > 0" class="text-success">
            <span *ngFor="let c of counter(a.acceptedContributions); let idx = index;">
              <i *ngIf="idx === 0 || idx % (awardThreshold-1) !== 0" class="bi-file-earmark-check"></i>
              <i *ngIf="idx > 0 && idx % (awardThreshold-1) === 0" class="bi-trophy"></i>
            </span>
          </div>
          <span class="text-muted">{{ nextRewardAt(a.acceptedContributions) }} until next <a (click)="showAwardHelp = true">award <i class="bi-question-circle"></i></a></span>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="modal" [ngClass]="{'open': showAwardHelp}" tabindex="-1" role="dialog">
  <div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Awards</h5>
        <button type="button" class="close" (click)="showAwardHelp = false" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body help-text">
        <div class="text-center">
          <img src="/assets/illustration/pixeltrue-special-deals.svg" style="width: 300px; height: 300px;"/>

        </div>
        <div>
          <p class="text-center"><strong>Help a little monkey fella' by listening to twaddle.</strong></p>
          <p>For each <strong>{{awardThreshold}}</strong> contributions you will be given a reward. Rewards are
          donations to a charity of your choice (from a list).</p>
          <p class="font-italic">Note: rewards are currently being processed but not awarded to verify the system works correctly..</p>
          <a [routerLink]="['/me']" >More details on your profile (requires registration).</a>
        </div>
      </div>
    </div>
  </div>
</div>
