<div class="container pt-4">
  <div class="w-100 d-flex flex-row align-items-center">
    <div class="card w-100 mb-4">
      <div class="card-header">
        <div class="mb-2">Community Project Directory</div>
        <div class="w-100 d-flex justify-content-between">
          <div class="flex-grow-1 mr-2">
            <input class="form-control" placeholder="Search by project name" [formControl]="searchInput"/>
          </div>
        </div>
      </div>
      <div class="card-body pb-0 mb-0">
        <table class="table songs-table">
          <tr>
            <th>Name</th>
            <th>Summary</th>
            <th></th>
          </tr>
          @for (proj of projects; track proj) {
            <tr>
              <td>
                {{proj.name}}
              </td>
              <td>
                {{proj.summary}}
                <div>@if (proj.content) {
                  <a class="clickable" (click)="proj.expand = !proj.expand">More info...</a>
                }</div>
              </td>
              <td><a [href]="proj.url" target="_blank" class="text-nowrap">Visit <i class="bi-arrow-up-right"></i></a></td>
            </tr>
            @if (proj.expand && proj.content) {
              <tr>
                <td class="border-top-0" colspan="3">{{proj.content}}</td>
              </tr>
            }
          }
        </table>
      </div>
      <div class="card-footer text-muted text-right">
        <nav aria-label="pages">
          <ul class="pagination">
            @for (i of pages; track i) {
              <li class="page-item" [ngClass]="{'active': i === currentPage}">
                <a class="page-link"
                  [routerLink]="['/more-shite', 'community-projects']"
                  [queryParams]="{'page': i}"
                  [queryParamsHandling]="'merge'">{{i}}
                </a>
              </li>
            }
            @if (morePages) {
              @if (currentPage > pages.length) {
                <li class="page-item active">
                  <a class="page-link"
                    [routerLink]="['/more-shite', 'community-projects']"
                    [queryParams]="{'page': currentPage}"
                    [queryParamsHandling]="'merge'">{{currentPage}}
                  </a>
                </li>
              }
              <li class="page-item">
                <a [routerLink]="['/more-shite', 'community-projects']"
                  [queryParams]="{'page': currentPage >= maxPages ? currentPage+1 : maxPages+1}"
                  [queryParamsHandling]="'merge'" class="page-link">Next...
                </a>
              </li>
            }
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
