<div class="container pt-4">
  <div class="w-100 d-flex flex-row align-items-center">
    <div class="card w-100 mb-4">
      <div class="card-header">
        <div class="mb-2">Song Search</div>
        <div class="w-100 d-flex justify-content-between">
          <div class="flex-grow-1 mr-2">
            <input class="form-control" placeholder="Search by artist or song title" [formControl]="searchInput"/>
          </div>
        </div>
      </div>
      <div class="card-body pb-0 mb-0">
        <table class="table songs-table">
          <tr>
            <th></th>
            <th>Song Title</th>
            <th>Artist</th>
            <th>Episodes</th>
            <th>Transcription</th>
          </tr>
          @for (song of songs; track song) {
            <tr>
              <td>
                @if (!song.albumImageUrl) {
                  <div class="album-image missing-album-image d-flex flex-row align-items-center border-body-block-standout text-body-block-standout">
                    <span class="w-100 text-center">
                      <i class="bi-file-music"></i>
                    </span>
                  </div>
                }
                @if (song.albumImageUrl) {
                  <img class="album-image" [src]="song.albumImageUrl"/>
                }
              </td>
              <td>
                <a class="text-paragraph align-self-center" [href]="song.spotifyUri">
                  <i class="bi-spotify text-primary mr-2"></i> <span class="text-paragraph">{{song.title}}</span>
                </a>
              </td>
              <td>{{song.artist}}</td>
              <td>
                @for (epid of song.episodeIds; track epid) {
                  <a
                    class="badge badge-secondary mr-2"
                  [routerLink]="['/ep', 'ep-'+epid]">{{epid}}</a>
                }
              </td>
              <td>
                @for (text of song.transcribed; track text) {
                  <span
                    class="text-muted text-sm mr-2 transcript pl-2 mb-1"
                  >{{text}}</span>
                }
              </td>
            </tr>
          }
        </table>
      </div>
      <div class="card-footer text-muted text-right">
        <nav aria-label="pages">
          <ul class="pagination">
            @for (i of pages; track i) {
              <li class="page-item" [ngClass]="{'active': i === currentPage}">
                <a class="page-link"
                  [routerLink]="['/more-shite', 'song-search']"
                  [queryParams]="{'page': i}"
                  [queryParamsHandling]="'merge'">{{i}}
                </a>
              </li>
            }
            @if (morePages) {
              @if (currentPage > pages.length) {
                <li class="page-item active">
                  <a class="page-link " [routerLink]="['/more-shite', 'song-search']"
                    [queryParams]="{'page': currentPage}"
                    [queryParamsHandling]="'merge'">{{currentPage}}
                  </a>
                </li>
              }
              <li class="page-item">
                <a [routerLink]="['/more-shite', 'song-search']"
                  [queryParams]="{'page': currentPage >= maxPages ? currentPage+1 : maxPages+1}"
                  [queryParamsHandling]="'merge'" class="page-link">Next...
                </a>
              </li>
            }
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
