.songs-table {
  td {
    vertical-align: middle;

    .album-image {
      width: 75px;
      height: 75px;
    }

    .missing-album-image {
      border: 1px dashed;
    }

    .transcript {
      border-left: 2px solid;
      padding-left: 5px;
      display: block;
    }
  }
}
