<div class="container-fluid pt-3">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/search']">Home</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/contribute']">Contribute</a></li>
      <li class="breadcrumb-item" *ngIf="chunk"><a [routerLink]="['/tscript', chunk.tscriptId ]">{{chunk?.tscriptId || "loading..."}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Create</li>
    </ol>
  </nav>

  <div class="row mb-2">
    <div class="col-8">
      <div class="alert alert-warning" *ngIf="!userCanEdit && contribution.state !== cStates.STATE_REQUEST_APPROVAL">
        This contribution is not editable, either because you are
        not the owner or because is has already been accepted or rejected
      </div>
      <div class="alert alert-warning" *ngIf="!contribution && chunk?.numContributions > 0">
        There are already {{chunk.numContributions}} approved or proposed contributions for this section of audio.
        You can start a different one by clicking <a [routerLink]="['/chunk', 'next']">here</a>.
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <div class="audio-player">
            <app-audio-player [src]="audioPlayerURL" #audioPlayer></app-audio-player>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" *ngIf="!contribution">
        <div class="card-body">
          <p>Currently your contribution is only saved locally, you can create a draft to allow you to submit it for
            approval.</p>
          <button class="btn btn-success mt-2" (click)="create()" [disabled]="!updatedTranscript">Create draft</button>
        </div>
      </div>
      <div class="card" *ngIf="contribution">
        <div class="card-body">
          <div *ngIf="contribution.state === cStates.STATE_PENDING">
            <div class="mb-3">State: <span class="text-info">{{contribution.state}}</span></div>
            <p>This means that the contribution has not yet been reviewed and can still be edited if you are the
              owner. Clicking the button below will mark it as being ready to be merged.</p>
            <button class="btn btn-success mt-2" (click)="markComplete()" [disabled]="!updatedTranscript">
              Mark as complete <i class="bi-check"></i>
            </button>
          </div>
          <div *ngIf="contribution.state === cStates.STATE_REQUEST_APPROVAL">
            <div class="mb-3">State: <span class="text-info">{{contribution.state}}</span></div>
            <p>This means your contribution will now be reviewed and merged (hopefully!).</p>
            <button class="btn btn-warning mt-2" (click)="markIncomplete()">Revert to incomplete <i class="bi-pen"></i>
            </button>
          </div>
          <div *ngIf="contribution.state === cStates.STATE_APPROVED">
            <div class="mb-3">State: <span class="text-success">{{contribution.state}}</span></div>
            This means your contributions was approved and will be merged into the canonical dataset.
          </div>
          <div *ngIf="contribution.state === cStates.STATE_REJECTED">
            <div class="mb-3">State: <span class="text-danger">{{contribution.state}}</span></div>
            This means it was not possible to merge your contribution either because it was a duplicate,
            or because it did not appear to be correct.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <div class="card">
        <div class="card-header">
          <span class="float-right">
            <button class="btn btn-sm" (click)="showHelp = !showHelp"
                    [ngClass]="{'btn-outline-primary': !showHelp, 'btn-primary': showHelp}" title="Toggle help text">
              <span *ngIf="!showHelp">I am confused</span>
              <span *ngIf="showHelp">I am satisfied</span>
            </button>
          </span>
          <span class="float-right">
            <button class="btn btn-danger btn-sm mr-3" *ngIf="userCanEdit" (click)="resetToRaw()"
                    title="revert text to chunk original">Reset</button>
          </span>
          <span class="float-right">
            <app-editor-config #editorConfigModal [initialConfig]="editorConfig"
                               (configUpdated)="handleEditorConfigUpdated($event)"></app-editor-config>
            <button class="btn btn-sm btn-info mr-3" *ngIf="userCanEdit" (click)="openEditorConfig()"
                    title="Change editor config">Editor Config</button>
          </span>
          <span>
            <span *ngIf="!contribution">Create </span>
            <span *ngIf="contribution">Update </span>
            Draft Transcript
          </span>
        </div>
        <div [hidden]="showHelp">
          <div class="card-body pr-0 pb-0">
            <app-editor [readonly]="!userCanEdit" [wrap]="editorConfig.wrapText" [textContent]="initialTranscript"
                        (textContentChange)="setUpdatedTranscript($event)"
                        (atOffsetMarker)="handleOffsetNavigate($event)"></app-editor>
          </div>
          <div class="card-footer pt-3 pb-3" *ngIf="authenticated && userCanEdit">
            <div class="float-right">
              <span *ngIf="lastUpdateTimestamp" class="text-muted">
                Autosaved {{timeSinceSave()}} ago.
              </span>
              <button *ngIf="contribution" class="btn btn-sm btn-secondary ml-3" (click)="update()">Save</button>
            </div>
            <div>
              <i class="bi-keyboard-fill"></i> Press <span
              class="badge">{{editorConfig?.playPauseKey || 'Insert'}}</span> key to toggle audio playback.
              <span class="badge">{{editorConfig?.rewindKey || 'ScrollLock'}}</span>/<span class="badge">{{editorConfig?.fastForwardKey || 'Pause'}}</span>
              keys to skip backwards/forwards.
              Autoseek is {{editorConfig?.autoSeek ? 'ON' : 'OFF'}}.
              These can be changed using the Editor Config <i class="bi-arrow-up"></i>.
            </div>
          </div>
        </div>
        <div class="card-body" [hidden]="!showHelp">
          <h4 class="mb-2">What do I do?</h4>
          <p>What you are looking at is a auto-transcription of about 3 minutes of audio. Some parts may be correct but
            others will be wrong. Mixed in with the audio
            are <span class="code">#OFFSET</span> markers. These indicate the number of seconds elapsed since the start
            of the episode, and <strong>should not be edited or added</strong>.</p>
          <p>The objective is to:</p>
          <ol>
            <li>Split each line so that it accurately reflects the audio (including a prefix to indicate who is speaking
              e.g. <span class="code">karl:</span>)
            </li>
            <li>Correct the text of any line was not transcribed accurately.</li>
            <li>Add additional non-speech information e.g. <span class="code">ricky laughs</span> (use actor <span
              class="code">none:</span> for these lines)
            </li>
          </ol>

          <p>IMPORTANT: Try and keep the <span class="code">#OFFSET</span> tags as close to the
            following word as possible. If the offsets are accurate it would allow the specific audio
            to be available for each ~30 second segment.</p>

          <h4 class="mb-2 mt-4">Audio Navigation</h4>
          <p>If Autoseek is enabled the audio will skip to an <span class="code">#OFFSET</span> if your caret
            (flashing line that shows where text will be inserted) moves over it.</p>
          <p>Additionally pressing the <span class="badge">{{editorConfig?.playPauseKey || 'Insert'}}</span> key will toggle the audio (play/pause),
            <span class="badge">{{editorConfig?.rewindKey || 'ScrollLock'}}</span>/<span class="badge">{{editorConfig?.fastForwardKey || 'Pause'}}</span>
            key will fast forward {{editorConfig?.backtrack || '3'}} seconds.</p>

          <h4 class="mb-2 mt-4">Indicating a line is a notable quote</h4>
          <p>If a line is particularly noteworthy, you can prefix it with <span class="code">!</span>. E.g.</p>
          <pre>!steve: Man alive.</pre>

          <h4 class="mb-2 mt-4">Songs</h4>
          <p>To indicate a song was played you can use the speaker prefix <span class="code">song:</span> for example
            <span class="code">song: Feeder - Come Back Around</span></p>
          <p>The format should be <span class="code">ARTIST - SONG</span></p>

          <h4 class="mb-2 mt-4">Summarising multiple-lines</h4>
          <p>There is another special <span class="code">#SYN:</span> tag, similar to <span class="code">#OFFSET</span>
            you can use to summarise several lines. For example</p>

          <pre>
karl: (twaddle)\n
...\n
#SYN: ricky gets a real bow and arrow!
ricky: Crazy bait blur. All right on Xfm. 104.9 really? Yeah, so I also got a Jane got me a few nice presents including my favorite of all of them a real bow and arrow a real bow and arrow!
steve: Yeah, right and what you, you're going to rob from the rich and give to the poor.
ricky: yeah
...
#/SYN
karl: I used to have a rifle as a kid...
...
          </pre>
          <p>These will not be shown in the text currently, but they are useful to have.</p>

          <h4 class="mb-2 mt-4">What will happen next?</h4>
          <p>Once a chunk has been submitted it will be reviewed and if it is valid and mostly correct it will be merged
            into
            the raw data file for the episode. This will then become visible in the corresponding episode page after the
            next release. I will attempt to propagate the transcripts back to Pilikipedia.</p>

          <h4 class="mb-2 mt-4">Who owns my work?</h4>
          <p>Once the content has been merged and becomes available in the github repository I consider it fair game
            for anyone that wishes to copy, modify or share it. I do not claim any kind of ownership over this content
            and am
            providing services to maintain it for my own enjoyment, not as a way to benefit financially or otherwise
            from the content.</p>

          <h4 class="mb-2 mt-4">Will I be attributed for my contribution?</h4>
          <p>Yes I will try and maintain an accurate list of contributors.</p>

          <h4 class="mb-2 mt-4">I have another question or complaint!</h4>
          <p>OK open an issue here: <a href="https://github.com/warmans/rsk-search/issues" target="_blank">https://github.com/warmans/rsk-search/issues</a>
          </p>

        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          Preview
        </div>
        <div class="card-body preview-window">
          <app-synopses [synopses]="parsedTscript?.synopses"></app-synopses>
          <app-transcript [transcript]="parsedTscript?.dialog"></app-transcript>
        </div>
      </div>
    </div>
  </div>
  <app-reddit-login [open]="!authenticated"></app-reddit-login>
</div>

<app-loading-overlay [loading]="loading.length > 0"></app-loading-overlay>
