<div class="container-fluid pt-2">
  <div class="row">
    <div class="col-8">
      <div class="audio-player">

      </div>
      <div contenteditable="true" class="editor p-3 mb-3">{{chunk.raw}}</div>
      <div class="help">
        <h3>Editing Help</h3>
        <p>The idea here is you should take the raw transcript and fix it. </p>
        <p><strong>Important:</strong> Try and keep the #OFFSET tags as close to the following word as possible. These represent second offsets and will be used to map the audio sections back to the episode audio.</p>
      </div>
    </div>
    <div class="col-4">right</div>
  </div>
</div>
