.editor {
  font-family: monospace;
  white-space: pre;
  overflow: scroll;

  border: none;
  outline: none;
  box-shadow: none;

  min-height: 800px;
  font-size: 1.2rem;

  background-color: #fff;
}
