.search-bar-container {
  color: #333;
  position: relative;

  .bar {
    background-color: #fff;

    input {
      border: none;

    }
    input:active, input:focus {
      outline: none;
      border: none;
    }
  }

  .search-dropdown {
    z-index: 1000 !important;
    display: block;
    position: absolute;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}
