<div class="d-flex">
  <div class="flex-grow-1">
    <div
      class="search-bar w-100"
      contenteditable="true"
      spellcheck="false"
      (focus)="onFocus()"
      (keydown)="onKeydown($event)"
      (keyup)="onKeypress($event)"
      (click)="onClick()"
      [ngClass]="{'invalid': invalid}"
      #editableContent
    ></div>
  </div>
  <div class="flex-shrink-1 pl-3">
    <div class="form-group form-check m-0">
      <label class="form-check-label my-2"><input type="checkbox" class="form-check-input" [checked]="!simpleSearch" (click)="toggleAdvanced($event)"/> Advanced</label>
    </div>
  </div>
</div>


<!--<div-->
<!--  class="dropdown"-->
<!--  *ngIf="inputActive && activeStatement && activeToken && activeToken.conf.valueSource">-->
<!--  <app-dropdown-->
<!--    [tokenConf]="activeToken.conf"-->
<!--    [statement]="activeStatement"-->
<!--    [keyboardEvents]="keyboardEvents"-->
<!--    [filter]="activeToken.token"-->
<!--    (onValue)="updateActiveTokenValue($event)">-->
<!--  </app-dropdown>-->
<!--</div>-->

<!--<div-->
<!--  class="dropdown"-->
<!--  *ngIf="inputActive && !activeToken && predictedNextToken && predictedNextToken.conf.valueSource">-->
<!--  <app-dropdown-->
<!--    [tokenConf]="predictedNextToken.conf"-->
<!--    [statement]="activeStatement"-->
<!--    [keyboardEvents]="keyboardEvents"-->
<!--    [filter]="predictedNextToken.token"-->
<!--    (onValue)="appendToken($event)">-->
<!--  </app-dropdown>-->
<!--</div>-->
