@import 'src/scss/variables';

.line {
  border-left: 5px solid;
  border-left: 5px solid transparent;
}

.line.steve {
  background-color: $color-steve;
  border-color: $color-steve-saturated
}

.line.ricky {
  background-color: $color-ricky;
  border-color: $color-ricky-saturated;
}

.line.karl {
  background-color: $color-karl;
  border-color: $color-karl-saturated;
}

.line.claire {
  background-color: $color-claire;
  border-color: $color-claire-saturated;
}

.line.camfield {
  background-color: $color-camfield;
  border-color: $color-camfield-saturated;
}

.line .actor {
  width: 100px;
  font-weight: bold;
  overflow: hidden;
}

.line.mute, .line.not-matched {
  opacity: 0.5;
}

.gutter {
  width: 25px;
  border-top:  1px solid #000;
  border-bottom: 1px solid #000;
}

.linked-indicator {
}

.no-linked {
  border-left : 2px dotted #222;
}

.linked {
  border-left : 2px solid $primary;
}

.section-title {
}

.trivia-breakout {
  border-left: 2px dashed #6c757d;
  max-width: 50%;
}


.gap {
  border-top: 2px dotted #222;
  border-bottom: 2px dotted #222;
  margin-bottom: 10px;
  text-align: center;
  padding: 5px;
}
