<div class="container pt-3">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/search']">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Contribute</li>
    </ol>
  </nav>

  <div class="row">
    <div class="col">
      <div class="card mb-4">
        <div class="card-header">Get Started</div>
        <div class="card-body">
          <img class="float-right" src="/assets/illustration/pixeltrue-support.svg" style="width: 250px"/>
          <p>There are currently <strong>{{tscipts?.length || 0}} episodes</strong> that require transcriptions.
            Episodes are transcribed in 3 minute chunks. Only a reddit identity
            is required to start transcribing.</p>
          <p>Click the button below to go to the suggested next chunk for transcription.</p>
          <button class="btn btn-primary" [routerLink]="['/chunk', 'next']">Start Now</button>
          <div class="text-muted mt-3">If you have already started a transcription find it <a [routerLink]="['/me']">here</a>.
          </div>
        </div>
      </div>


      <div class="card mb-4">

        <div class="card-header">What's New 15.12.2021</div>
        <div class="card-body">

          <div class="font-weight-bold">Trivia Tags</div>
          <p>Trivia can now be added to transcripts using TRIVIA tags (same as synopsis).</p>

          <div class="font-weight-bold">Corrections Feature</div>
          <p>Whole episode corrections can now be submitted by going to an episode from the home page and clicking "Submit Correction" in the
            Transcript header (you must be logged in to see the button). This allows an entire episode transcript to be replaced. Note: rewards
            are currently not given for corrections. <strong>(NOTE: disabled temporarily to resolve issues exporting synopses and trivia)</strong></p>

          <div class="font-weight-bold">Inferred Offsets</div>
          <p>Audio offsets are now inferred where missing. However these become less accurate the fewer accurate offsets in a transcript as a result a new button has been
          added to allow offsets to be inserted manually from the editor based on the audio player's current timestamp.</p>
        </div>
      </div>

      <div class="card mb-4" *ngIf="transcriptChanges?.length > 0">
        <div class="card-header">Unmerged Transcript Replacements</div>
        <div class="card-body">
          <table class="table table-borderless p-0">
            <tr>
              <th>Episode</th>
              <th>State</th>
              <th>Author</th>
              <th>Created At</th>
              <th></th>
            </tr>
            <tr *ngFor="let change of transcriptChanges">
              <td>{{change.episodeId}}</td>
              <td>{{change.state}}</td>
              <td>{{change.author.name}}</td>
              <td>{{change.createdAt}}</td>
              <td><a class="btn btn-sm btn-info" [routerLink]="['/ep', change.episodeId, 'change', change.id]">View</a></td>
            </tr>
          </table>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-header">Transcription Progress</div>
        <div class="card-body d-flex">
          <div class="progress mt-1 flex-grow-1">
            <div
              class="progress-bar bg-success"
              role="progressbar"
              title="Approved."
              [style.width]="(this.overallComplete / (this.overallTotal || 1) * 100)+'%'">
            </div>
            <div
              class="progress-bar bg-info"
              role="progressbar"
              title="Awaiting approval."
              [style.width]="(this.overallPending / (this.overallTotal || 1) * 100)+'%'">
            </div>
          </div>
          <div class="pl-4 font-weight-bold">{{ (this.overallComplete / (this.overallTotal || 1) * 100) | number:'1.0-0'
            }}%
          </div>
        </div>
        <div class="card-body p-0">
          <table class="table">
            <tr>
              <th>ID</th>
              <th colspan="2" title="Once transcriptions for all chunks have been approved the episode is complete">
                Progress
              </th>
            </tr>
            <tr *ngFor="let ep of tscipts">
              <td style="width: 150px"><a [routerLink]="['/tscript', ep.id]">{{ep.id}}</a></td>
              <td style="width: 150px"><span title="sections approved to the total">{{ progressMap[ep.id]['complete'] }} / {{ep.numChunks}} <span>({{((progressMap[ep.id]['complete'] || 0) / (progressMap[ep.id]['total'] || 1)  * 100) | number:'1.0-0'}}%)</span></span>
              </td>
              <td>
                <div class="progress">
                  <div
                    class="progress-bar bg-success"
                    role="progressbar"
                    title="{{progressMap[ep.id]['complete']}} completed"
                    [style.width]="((progressMap[ep.id]['complete'] || 0) / (progressMap[ep.id]['total'] || 1)  * 100)+'%'">
                  </div>
                  <div
                    class="progress-bar bg-info"
                    role="progressbar"
                    title="{{progressMap[ep.id]['pending_approval']}} awaiting approval"
                    [style.width]="((progressMap[ep.id]['pending_approval'] || 0) / (progressMap[ep.id]['total'] || 1)  * 100)+'%'">
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <app-leaderboard></app-leaderboard>

    </div>
  </div>
</div>
