@import "src/scss/variables";

.editor {
  font-family: monospace;
  white-space: pre;
  overflow: scroll;

  border: none;
  outline: none;
  box-shadow: none;

  min-height: 800px;
  font-size: 1rem;

  background-color: #fff;

  .do-not-edit {
    background-color: $code;
  }

  span {
    font-size: 1rem !important;
  }
}
