version: "3.2"
services:
  redis:
    image: redis:7-alpine
    ports:
      - '6379:6379'
    command: redis-server --save 20 1 --loglevel warning
    volumes:
      - /data
  asynqmon:
    image: hibiken/asynqmon
    ports:
      - '4000:8080'
    environment:
      REDIS_ADDR: 'redis:6379'
  postgres:
    image: postgres:13.2-alpine
    restart: always
    environment:
      POSTGRES_USER: scrimpton
      POSTGRES_PASSWORD: insecure
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    ports:
      - "127.0.0.1:5432:5432"
  pgbackups:
    image: prodrigestivill/postgres-backup-local:13
    restart: always
    user: postgres:postgres
    volumes:
      - ./postgres-backups:/backups
    links:
      - postgres
    depends_on:
      - postgres
    environment:
      - POSTGRES_HOST=postgres
      - POSTGRES_DB=scrimpton
      - POSTGRES_USER=scrimpton
      - POSTGRES_PASSWORD=insecure
      - POSTGRES_EXTRA_OPTS=-Z6 --schema=public --blobs
      - SCHEDULE=@daily
      - BACKUP_KEEP_DAYS=5
      - BACKUP_KEEP_WEEKS=3
      - BACKUP_KEEP_MONTHS=2
      - HEALTHCHECK_PORT=8080
  swag:
    image: ghcr.io/linuxserver/swag
    container_name: swag
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Berlin
      - URL=scrimpton.com
      - SUBDOMAINS=www,staging
      - VALIDATION=http
    volumes:
      - ./swag-config:/config
    ports:
      - 443:443
    restart: unless-stopped
  prometheus:
    image: "prom/prometheus:v2.34.0"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - ./prometheus:/prometheus
    ports:
      - 9090:9090
    restart: unless-stopped
  grafana:
    image: "grafana/grafana:8.2.6"
    volumes:
      - ./grafana/data:/var/lib/grafana
    ports:
      - 3000:3000
    restart: unless-stopped
  gui:
    image: "warmans/rsk-search-gui:latest"
    depends_on:
      - server
    restart: unless-stopped
  server:
    image: "warmans/rsk-search-api:latest"
    ports:
      - "127.0.0.1:8888:8888"
    depends_on:
      - postgres
    environment:
      RSK_SEARCH_RW_DB_DSN: "postgres://scrimpton:insecure@postgres:5432/scrimpton?sslmode=disable"
      RSK_SEARCH_JWT_KEY: ""
      RSK_SEARCH_OAUTH_SECRET: ""
      RSK_SEARCH_OAUTH_APP_ID: ""
      RSK_SEARCH_OAUTH_RETURN_URL: ""
      RSK_SEARCH_REWARDS_DISABLED: "true"
      RSK_SEARCH_PLEDGE_SECRET: "changeme"
      RSK_SEARCH_PLEDGE_DEF_EMAIL: "changeme"
      RSK_SEARCH_PLEDGE_DEF_FIRSTNAME: "changeme"
      RSK_SEARCH_PLEDGE_DEF_LASTNAME: "changeme"
      RSK_SEARCH_REDIS_ADDR: "redis:6379"
    restart: unless-stopped
