<div class="container pt-3">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/search']">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Contribute</li>
    </ol>
  </nav>

  <div class="row">

    <div class="col">
      <div class="card mb-4">

        <div class="card-header">Quickstart</div>
        <div class="card-body">
          <img class="float-right illustration d-none d-xl-block" src="/assets/illustration/rgs-pointer-2.svg" style="width: 250px"/>
          <div class="font-weight-bold mb-2">History</div>
          <p>
            In the beginning there was Pilkipedia. Over the years the site fell into dis-repair. Scrimpton was created
            to preserve an archive of searchable Xfm transcripts. But the archive was not complete, some episodes had never
            been transcribed or were missing sections. So this tool was added to fill in the gaps.
          </p>

          <div class="font-weight-bold mb-2">Where can I contribute code/feedback to the site?</div>

          <div>
            <ul>
              <li><a href="https://discord.gg/WsnMxhf7B7" target="_blank">Pilkipedia discord (#scrimpton)</a></li>
              <li><a target="_blank" href="https://reddit.com/r/scrimpton">Reddit /r/scrimpton</a></li>
              <li><a target="_blank" href="https://github.com/warmans/rsk-search/issues">Github Issues</a></li>
            </ul>
          </div>

          <div class="font-weight-bold mb-2">How can I contribute transcripts?</div>

          <p>There are two ways you can contribute transcripts; firstly you can transcribe chunks of new audio (when available). You may also
          improve existing transcriptions by adding summaries/trivia/timestamps, standardising text, and fixing errors.</p>

          <div class="font-weight-bold mb-2">Editing a transcription</div>
          <ol>
            <li>Load the episode from the <a [routerLink]="['/']">episode list</a>.</li>
            <li>In the Transcript header click "Submit correction"</li>
            <li>Submit your edit.</li>
            <li>Await approval from an approver (admin).</li>
            <li>Once the change is merged it will replace the original (may take several days).</li>
          </ol>
          <p>Alternatively, you can submit a pull-request for the <a target="_blank" href="https://github.com/warmans/rsk-search/tree/main/server/var/data/episodes">JSON file</a> directly. But this is more difficult.</p>

          <hr/>

          <div [ngClass]="{'text-muted': overallAwaitingContributions === 0}">
            <div class="font-weight-bold mb-2">Transcribing a new audio chunk ({{overallAwaitingContributions || 0}} chunks available)</div>
            <p>If no chunks are available you will not be able to start a transcription. However, if there are pending chunks:</p>
            <ol>
              <li>Click Start Now below.</li>
              <li>You will be prompted to authenticate using Reddit (contributions require a Reddit account).</li>
              <li>The audio and editor are provided for a random 3 minute audio chunk. You just need to transcribe these three minutes. A machine/automatic transcription is also provided to speed up the process.</li>
              <li>Submit your transcription.</li>
              <li>Await approval from an approver (admin).</li>
              <li>Changes are then synced to the flat files and re-deployed before taking effect (may take several days).</li>
            </ol>

            @if (overallAwaitingContributions > 0) {
              <div>
                <button class="btn btn-primary" [routerLink]="['/chunk', 'next']">Start Now</button>
              </div>
            }
            <div class="text-muted mt-3">If you have already started a transcription find it <a [routerLink]="['/me']">here</a>.</div>
          </div>
        </div>
      </div>

      <app-changes [chunks]="chunkedTranscripts"></app-changes>

      <ul class="nav nav-tabs font-weight-bold">
        <li class="nav-item mr-2">
          <a class="nav-link" (click)="activeContributionsPanel='authors'" [ngClass]="{'active': activeContributionsPanel === 'authors'}">Author Ranking</a>
        </li>
        <li class="nav-item mr-2">
          <a class="nav-link" (click)="activeContributionsPanel='outgoing_donations'" [ngClass]="{'active':  activeContributionsPanel === 'outgoing_donations'}">Causes</a>
        </li>
<!-- the buy me a coffee API is not reliable -->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" (click)="activeContributionsPanel='incoming_donations'" [ngClass]="{'active':  activeContributionsPanel === 'incoming_donations'}">Donations</a>-->
<!--        </li>-->
      </ul>
      @if (activeContributionsPanel === 'authors') {
        <div>
          <app-rankings></app-rankings>
        </div>
      }
      @if (activeContributionsPanel === 'outgoing_donations') {
        <div>
          <app-causes></app-causes>
        </div>
      }
      @if (activeContributionsPanel === 'incoming_donations') {
        <div>
          <app-donations></app-donations>
        </div>
      }
    </div>
  </div>
</div>
