<div class="container pt-3">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/search']">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Contribute</li>
    </ol>
  </nav>

  <div class="row">

    <div class="col">
      <div class="card mb-4">

        <div class="card-header">Quickstart</div>
        <div class="card-body">
          <img class="float-right" src="/assets/illustration/pixeltrue-support.svg" style="width: 250px"/>
          <div class="font-weight-bold mb-2">History</div>
          <p>
            In the beginning there was Pilkipedia. Over the years the site fell into dis-repair. Scrimpton was created
            to preserve an archive of searchable Xfm transcripts. But the archive was not complete, some episodes had never
            been transcribed or were missing sections. So this tool was added to fill in the gaps.
          </p>

          <div class="font-weight-bold mb-2">How can I contribute to the site?</div>

          <p>
            Submit issues, suggestions or just start a discussion on the <a target="_blank" href="https://reddit.com/r/scrimpton">subreddit</a> or
            via <a target="_blank" href="https://github.com/warmans/rsk-search">github</a>.
          </p>

          <div class="font-weight-bold mb-2">How does it work?</div>

          <p>There are two ways you can contribute; firstly you can transcribe chunks of new audio (when available). You may also
            improve existing transcriptions by adding summaries/trivia/timestamps, standardising text, and fixing errors.</p>

          <div class="font-weight-bold mb-2">Editing a transcription</div>
          <ol>
            <li>Load the episode from the <a [routerLink]="['/']">episode list</a>.</li>
            <li>In the Transcript header click "Submit correction"</li>
            <li>Submit your edit.</li>
            <li>Await approval from an approver (admin).</li>
            <li>Once the change is merged it will replace the original (may take several days).</li>
          </ol>

          <hr/>

          <div [ngClass]="{'text-muted': overallAwaitingContributions === 0}">
            <div class="font-weight-bold mb-2">Transcribing an audio chunk ({{overallAwaitingContributions || 0}} chunks available)</div>
            <p>If no chunks are available you will not be able to start a transcription. However, if there are pending chunks:</p>
            <ol>
              <li>Click Start Now below.</li>
              <li>You will be prompted to authenticate using Reddit (contributions require a Reddit account).</li>
              <li>The audio and editor are provided for a random 3 minute audio chunk. You just need to transcribe these three minutes.</li>
              <li>Submit your transcription.</li>
              <li>Await approval from an approver (admin).</li>
              <li>Changes are then synced to the flat files and re-deployed before taking effect (may take several days).</li>
            </ol>

            <div *ngIf="overallAwaitingContributions > 0">
              <button class="btn btn-primary" [routerLink]="['/chunk', 'next']">Start Now</button>
            </div>
            <div class="text-muted mt-3">If you have already started a transcription find it <a [routerLink]="['/me']">here</a>.</div>
          </div>
        </div>
      </div>

      <ng-container *ngIf="transcriptChanges?.length > 0">
        <ul class="nav nav-tabs font-weight-bold">
          <li class="nav-item mr-2">
            <a class="nav-link active">Transcript Changes</a>
          </li>
        </ul>
        <div class="card mb-4">
          <div class="card-header text-paragraph">
            After an edit is approved it must be merged. This means the content is extracted and added to the JSON archive.
            Until this happens you will not see your changes reflected. This will happen within days of the edit bring submitted.
          </div>
          <div class="card-body p-0">
            <table class="table table-borderless p-0 m-0">
              <tr>
                <th>Episode</th>
                <th>State</th>
                <th>Author</th>
                <th>Created At</th>
                <th>Points Awarded</th>
                <th></th>
              </tr>
              <tr *ngFor="let change of transcriptChanges">
                <td>{{change.episodeId}}</td>
                <td>
                  <app-contribution-state [state]="change.state"></app-contribution-state>
                </td>
                <td>{{change.author.name}}</td>
                <td>{{change.createdAt}}</td>
                <td>{{change.pointsAwarded || 'NA'}}</td>
                <td><a class="btn btn-sm btn-info" [routerLink]="['/ep', change.episodeId, 'change', change.id]" [queryParams]="{'readonly': '1'}">View</a></td>
              </tr>
            </table>
          </div>
        </div>
      </ng-container>

      <div class="card mb-4" *ngIf="(tscipts || []).length > 0">
        <div class="card-header">Transcription Progress</div>
        <div class="card-body d-flex">
          <div class="progress mt-1 flex-grow-1">
            <div
              class="progress-bar bg-success"
              role="progressbar"
              title="Approved."
              [style.width]="(this.overallComplete / (this.overallTotal || 1) * 100)+'%'">
            </div>
            <div
              class="progress-bar bg-secondary"
              role="progressbar"
              title="Awaiting approval."
              [style.width]="(this.overallPendingApproval / (this.overallTotal || 1) * 100)+'%'">
            </div>
          </div>
          <div class="pl-4 font-weight-bold">{{ (this.overallComplete / (this.overallTotal || 1) * 100) | number:'1.0-0'
            }}%
          </div>
        </div>
        <div class="card-body p-0">
          <table class="table">
            <tr>
              <th>ID</th>
              <th colspan="2" title="Once transcriptions for all chunks have been approved the episode is complete">
                Progress
              </th>
            </tr>
            <tr *ngFor="let ep of tscipts">
              <td style="width: 150px"><a [routerLink]="['/tscript', ep.id]">{{ep.id}}</a></td>
              <td style="width: 150px"><span title="sections approved to the total">{{ progressMap[ep.id]['complete'] }} / {{ep.numChunks}}
                <span>({{((progressMap[ep.id]['complete'] || 0) / (progressMap[ep.id]['total'] || 1) * 100) | number:'1.0-0'}}%)</span></span>
              </td>
              <td>
                <div class="progress">
                  <div
                    class="progress-bar bg-success"
                    role="progressbar"
                    title="{{progressMap[ep.id]['complete']}} completed"
                    [style.width]="((progressMap[ep.id]['complete'] || 0) / (progressMap[ep.id]['total'] || 1)  * 100)+'%'">
                  </div>
                  <div
                    class="progress-bar bg-secondary"
                    role="progressbar"
                    title="{{progressMap[ep.id]['pending_approval']}} awaiting approval"
                    [style.width]="((progressMap[ep.id]['pending_approval'] || 0) / (progressMap[ep.id]['total'] || 1)  * 100)+'%'">
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <ul class="nav nav-tabs font-weight-bold">
        <li class="nav-item mr-2">
          <a class="nav-link" (click)="activeContributionsPanel='authors'" [ngClass]="{'active': activeContributionsPanel === 'authors'}">Author Ranking</a>
        </li>
        <li class="nav-item mr-2">
          <a class="nav-link" (click)="activeContributionsPanel='outgoing_donations'" [ngClass]="{'active':  activeContributionsPanel === 'outgoing_donations'}">Causes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="activeContributionsPanel='incoming_donations'" [ngClass]="{'active':  activeContributionsPanel === 'incoming_donations'}">Donations</a>
        </li>
      </ul>
      <div *ngIf="activeContributionsPanel === 'authors'">
        <app-rankings></app-rankings>
      </div>
      <div *ngIf="activeContributionsPanel === 'outgoing_donations'">
        <app-causes></app-causes>
      </div>
      <div *ngIf="activeContributionsPanel === 'incoming_donations'">
        <app-donations></app-donations>
      </div>
    </div>
  </div>
</div>
