<div class="player d-flex" *ngIf="this.audioStatus.audioName">
  <div class="controls p-2 d-flex align-items-center">
    <div class="clickable p-1" *ngIf="audioStatus.state === states.paused" (click)="play()"><i class="bi-play"></i></div>
    <div class="clickable p-1" *ngIf="audioStatus.state === states.playing" (click)="pause()"><i class="bi-pause"></i></div>
      <div class="clickable p-1" (click)="skipForward()"><i class="bi-skip-forward"></i></div>
  </div>
  <div class="flex-grow-1 p-2">
    <div class="mb-1">{{audioStatus.audioName || "Nothing Playing"}}</div>
    <div class="progress mb-1">
      <div class="progress-bar bg-primary" [style.width]="audioStatus.percentElapsed + '%'"></div>
    </div>
    <div class="d-flex justify-content-between">
      <div>{{audioStatus?.timeElapsed}}</div>
      <div>{{audioStatus?.duration}}</div>
    </div>
  </div>
  <div class="volume p-2">

  </div>
  <div class="exit d-flex align-items-center px-3">
    <div class="clickable p-1 close">&times;</div>
  </div>
</div>
