.player {
  font-size: 0.9rem;
  width: 100%;

  .controls {
    font-size: 2rem;
  }

  .volume {
    font-size: 1.5rem;
  }

  .error-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    font-size: 1.2rem;
  }
}
