<div class="container-fluid pt-3">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/search']">Home</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/contribute']">Contribute</a></li>
      <li class="breadcrumb-item" *ngIf="chunk"><a [routerLink]="['/tscript', chunk.tscriptId ]">{{chunk?.tscriptId ||
      "loading..."}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Create</li>
    </ol>
  </nav>

  <!-- alerts -->

  <div class="row mb-3">
    <div class="col-12">

      <div class="alert alert-warning" *ngIf="!userCanEdit && contribution.state !== cStates.STATE_REQUEST_APPROVAL">
        This contribution is not editable, either because you are
        not the owner or because is has already been accepted or rejected
      </div>
      <div class="alert alert-warning" *ngIf="!contribution && chunk?.numContributions > 0">
        There are already {{chunk.numContributions}} approved or proposed contributions for this section of audio.
        You can start a different one by clicking <a [routerLink]="['/chunk', 'next']">here</a>.
      </div>
    </div>
  </div>

  <!-- state -->

  <div class="row mb-3">
    <div class="col-12">

      <div class="card">
        <div class="card" *ngIf="!contribution">
          <div class="card-body">
            <p>Currently your contribution is only saved locally, you can create a draft to allow you to submit it for
              approval.</p>
            <button class="btn btn-success mt-2" (click)="create()">Create draft</button>
          </div>
        </div>
        <div class="card" *ngIf="contribution">
          <div class="card-body">
            <div class="mb-3 d-flex flex-row">
              <app-contribution-state [state]="contribution.state"></app-contribution-state>
            </div>
            <div *ngIf="userIsOwner">
              <div *ngIf="contribution.state === cStates.STATE_PENDING">
                <p>This means that the contribution has not yet been reviewed and can still be edited if you are the
                  owner. Clicking the button below will mark it as being ready to be merged.</p>
                <button class="btn btn-success mt-2" (click)="markComplete()">
                  Mark as complete <i class="bi-check"></i>
                </button>
                <button (click)="discard()" class="btn btn-danger ml-2 mt-2">Discard</button>
              </div>
              <div *ngIf="contribution.state === cStates.STATE_REQUEST_APPROVAL">
                <p>This means your contribution will now be reviewed and merged (hopefully!).</p>
                <div class="d-flex">
                  <button class="btn btn-warning mt-2" (click)="markIncomplete()">Revert to incomplete <i
                    class="bi-pen"></i></button>
                  <div *ngIf="userIsApprover" class="d-flex">
                    <button class="btn btn-success mt-2 ml-3" (click)="markApproved()">Approve</button>
                    <div class="mt-2 ml-3"><app-reject-button [contributionId]="contribution.id" [rejectAction]="rejectCallback"></app-reject-button></div>
                  </div>
                </div>
              </div>
              <div *ngIf="contribution.state === cStates.STATE_APPROVED">
                This means your contributions was approved and will be merged into the canonical dataset.
              </div>
              <div *ngIf="contribution.state === cStates.STATE_REJECTED">
                <p>This means it was not possible to merge your contribution either because it was a duplicate,
                  or because it did not appear to be correct.</p>
                <button class="btn btn-success mt-2" (click)="markIncomplete()">
                  Revert to incomplete <i class="bi-pen"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- transcript editor -->

  <div class="row mb-2">
    <div class="col-12">
      <app-transcriber
        #transcriber
        [contentID]="contribution ? contribution.id : chunk?.id"
        [rawTranscript]="initialTranscript"
        [lastUpdateDate]="lastUpdateTimestamp"
        [audioPlayerURL]="audioPlayerURL"
        [allowEdit]="userCanEdit"
        [isSaved]="contribution ? true : false"
        [chunkMode]="true"
        (handleSave)="handleSave($event)">
      </app-transcriber>
    </div>
  </div>
</div>

<app-reddit-login [open]="!authenticated"></app-reddit-login>

<app-loading-overlay [loading]="loading.length > 0"></app-loading-overlay>
