<div class="container pt-3">
  <div class="row mb-3">
    <div class="col">
      @if (reward) {
        <div class="card">
          <div class="card-header">{{reward.name}}</div>
          <div class="card-body">
            <p>{{reward.criteria}}</p>
            <p>Available rewards:</p>
            <form [formGroup]="form" (ngSubmit)="submit()">
              @for (org of organizations; track org) {
                <div class="org d-flex p-3 mb-3">
                  <div class="mr-3 d-flex flex-column justify-content-center">
                    <a [href]="org.url" target="_blank">
                      <div
                        class="org-icon"
                        style="background-image: url({{ org.logoUrl }})">
                      </div>
                    </a>
                  </div>
                  <div class="flex-grow-1">
                    <strong class="mb-1">{{org.name}}</strong>
                    <div class="text-muted text-sm">{{org.ngoId}}</div>
                    <div class="my-2">{{org.mission}}</div>
                    @if (org.quote) {
                      <div class="quote my-3 ml-3 font-italic text-muted">{{org.quote}}</div>
                    }
                    <div class="form-check font-weight-bold text-success">
                      <label class="form-check-label">
                        <input
                          type="radio"
                          class="form-check-input"
                          formControlName="cause"
                        value='{{org.id}}'> Give {{reward.value | currency: reward.valueCurrency}}</label>
                      </div>
                    </div>
                  </div>
                }
                <div class="text-right">
                  <button class="btn btn-success btn-lg mt-4" type="submit" [disabled]="!form.valid">Confirm</button>
                </div>
              </form>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
  <app-loading-overlay [loading]="loading.length > 0"></app-loading-overlay>
