.org {
  border: 1px dotted rgba(0, 0, 0, 0.5);

  .org-icon {
    width: 96px;
    height: 96px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat
  }

  .quote {

  }

}
