<div class="w-100 d-flex justify-content-between mb-3">
  <div class="flex-grow-1 mr-2">
    <input class="form-control form-control-themed" placeholder="Quick find..." [formControl]="searchInput"/>
  </div>
</div>
<div class="d-flex justify-content-between flex-row-reverse flex-nowrap">
  <div>
    <button class="btn btn-sm btn-link mr-1" (click)="showDownloadDialog = !showDownloadDialog">
      Export
    </button>
  </div>
  <div>
    <ul class="nav nav-tabs font-weight-bold">
      <li *ngFor="let item of publicationCategories | keyvalue:originalOrder">
        <a class="nav-link" [ngClass]="{'active': activePublicationType === item.value && !searchInput.value}"
           (click)="loadPublicationTab(item.value)">{{item.key}}</a>
      </li>
      <li *ngIf="searchInput.value">
        <a class="nav-link active">Search Results</a>
      </li>
    </ul>
  </div>

</div>

<div class="card episode-list">
  <div class="card-header d-flex justify-content-between align-items-center">
  </div>
  <div class="card-body">
    <div *ngFor="let ep of filteredTranscriptList"
         class="mb-2 episode-container animate__animated animate__fadeIn animate__faster">
      <app-episode-summary [episode]="ep"></app-episode-summary>
    </div>
  </div>
</div>
<div class="download-modal modal" [ngClass]="{'open': showDownloadDialog}">
  <div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <i class="bi-cloud-download mr-2"></i> Download transcript archive
        <button type="button" class="close" (click)="showDownloadDialog = false" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Various formats are available for download. No audio is included in the export, only transcript data.</p>
        <table class="table">
          <tr>
            <td style="width: 200px"><a href="/dl/archive/episodes-json.zip" target="_blank">episodes-json.zip</a></td>
            <td>The JSON version is easily readable by computers.</td>
          </tr>
          <tr>
            <td><a href="/dl/archive/episodes-plaintext.zip" target="_blank">episodes-plaintext.zip</a></td>
            <td>The text version is easily readable by humans.</td>
          </tr>
        </table>
      </div>
    </div>

  </div>
</div>
