<div class="d-flex justify-content-between">
  <ul class="nav nav-tabs font-weight-bold">
    <li class="nav-item mr-2">
      <a class="nav-link" [ngClass]="{'active': activePublication === 'xfm'}" (click)="activePublication = 'xfm'">Xfm</a>
    </li>
    <li class="nav-item mr-2">
      <a class="nav-link" [ngClass]="{'active': activePublication === 'guide'}" (click)="activePublication = 'guide'">Guides</a>
    </li>
    <li class="nav-item mr-2">
      <a class="nav-link" [ngClass]="{'active': activePublication === 'special'}" (click)="activePublication = 'special'">Specials</a>
    </li>
    <li class="nav-item mr-2">
      <a class="nav-link" [ngClass]="{'active': activePublication === 'other'}" (click)="activePublication = 'other'">Other</a>
    </li>
    <li class="nav-item mr-2">
      <a class="nav-link" [ngClass]="{'active': activePublication === 'karl'}" (click)="activePublication = 'karl'">Karl</a>
    </li>
    <li class="nav-item mr-2">
      <a class="nav-link" [ngClass]="{'active': activePublication === 'preview'}" (click)="activePublication = 'preview'">Preview</a>
    </li>
  </ul>
  <button class="btn btn-sm btn-link mr-1" (click)="showDownloadDialog = !showDownloadDialog">
    <i class="bi-cloud-download mr-2"></i> Export
  </button>
</div>

<div class="card episode-list">
  <div class="card-header d-flex justify-content-between align-items-center">
    <div class="w-100 d-flex justify-content-between">
      <div class="flex-grow-1 mr-2">
        <input class="form-control" placeholder="Quick find episode by ID/name..." [formControl]="searchInput"/>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div *ngFor="let ep of filteredTranscriptList" class="mb-2 episode-container animate__animated animate__fadeIn animate__faster">
      <app-episode-summary [episode]="ep"></app-episode-summary>
    </div>
  </div>
</div>
<div class="download-modal modal"[ngClass]="{'open': showDownloadDialog}">
  <div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <i class="bi-cloud-download mr-2"></i> Download transcript archive
        <button type="button" class="close" (click)="showDownloadDialog = false" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Various formats are available for download.</p>
        <table class="table">
          <tr>
            <td style="width: 200px"><a href="/dl/archive/episodes-json.zip" target="_blank">episodes-json.zip</a></td>
            <td>The JSON version is easily readable by computers.</td>
          </tr>
          <tr>
            <td><a href="/dl/archive/episodes-plaintext.zip" target="_blank">episodes-plaintext.zip</a></td>
            <td>The text version is easily readable by humans.</td>
          </tr>
        </table>
      </div>
    </div>

  </div>
</div>
