.autocomplete-dropdown {

  .line {
    padding: 5px 0 5px 0;
    // see global style.scss
  }

  .line:hover {
    background-color: #f6f6f6;
    cursor: pointer;
  }
  .line.active {
    background-color: #f6f6f6;
    color: #000;
  }
}
