<div class="card mb-4">
  <div class="card-header">
    Random Quote Generator
    <button class="btn btn-primary btn-sm float-right" (click)="getQuote()">Generate</button>
  </div>
  <div class="card-body p-0">
    <div class="quote d-flex flex-row" *ngIf="quote">
      <div class="mx-3 text-center font-italic flex-grow-1 d-flex flex-column justify-content-around ">
          <a class="text-paragraph quote-text" [routerLink]="['/ep', quote?.epid]" [fragment]="'pos-'+(quote?.pos)">{{quote?.quote}}</a>
      </div>
      <div class="speaker-image hidden-sm" [style.background-image]="'url(assets/quote-'+quote?.actor+'.png)'"></div>
    </div>
  </div>
</div>
