@import 'src/scss/variables';

.quote {

  .speaker-image {
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: contain;
    min-width: 35%;
    height: 300px;
  }
  .quote-text {
    font-size: 1.5rem;
  }
}

