@import "../scss/vars";

.value-list-container {

  position: absolute;
  margin-top: 15px;
  width: 100%;
  background-color: $common-background-color;
  min-width: $value-list-min-width;
  border: $value-list-border;
  box-shadow: $value-list-shadow;

  .selected-values {
    display: flex;
    flex-direction: row;
    border-bottom: $value-list-selected-border;
    padding: $common-gutter-size;

    div {
      display: flex;
      flex-direction: row;
      flex: 1;

      .selected{
        background-color: $value-list-selected-background-color;
        border: $common-border;
        padding: $common-gutter-size;
        flex: 0;
        margin-right: $common-gutter-size;
      }
    }

    .confirm {
      flex: 0;
    }
  }

  .value-list {
    max-height: 312px;
    overflow-y: scroll;
    overflow-x: hidden;

    .value {
      padding: 10px;
      cursor: pointer;

      &:hover, &.active, &.selected {
        background-color: $value-list-selected-background-color;
      }
      .title {
        font-weight: bold;
        .icon {
          margin: 5px 10px 5px 0;
        }
      }
      .help {
        font-size: 0.8em;
        color: #666;
      }
    }
  }

  .paging {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #ccc;
    padding: 10px;

    div {
      &.enabled {
        cursor: pointer;
      }
    }
  }

}
