@use "sass:color";
@import "src/scss/variables";

.state {
  padding-left: 5px;
}

.state span {
  font-size: 0.9rem;
  margin-left: 5px;
  padding: 0 5px 0 5px;

  &.bg-info {
    font-weight: bold;
    background-color:  color.adjust($info, $lightness: 45%) !important;
    color: color.adjust($info, $lightness: -2%);
  }
  &.bg-danger {
    font-weight: bold;
    background-color: color.adjust($danger, $lightness: 45%) !important;
    color: color.adjust($danger, $lightness: -2%);
  }
  &.bg-success {
    font-weight: bold;
    background-color: color.adjust($success, $lightness: 45%) !important;
    color: color.adjust($success, $lightness: -2%);
  }

}
