<span [ngSwitch]="state" class="state">
  State:
  <span *ngSwitchCase="states.STATE_PENDING" class="bg-info" title="Contribution is a draft and will not be reviewed until submitted for approval.">Pending</span>
  <span *ngSwitchCase="states.STATE_REQUEST_APPROVAL" class="bg-info" title="Contribution will be manually reviewed and probably approved.">Request Approval</span>
  <span *ngSwitchCase="states.STATE_APPROVED" class="bg-success" title="Contribution was merged into the final dataset">Approved</span>
  <span *ngSwitchCase="states.STATE_REJECTED" class="bg-danger" title="If a transcript appears to be incorrect it will be rejected. You can return it to draft, fix the issue and re-submit.">Rejected <i class="bi-question"></i></span>
  <span *ngSwitchDefault>Unknown</span>
</span>
