@import "src/scss/variables";

.state {
  background-color: #f6f6f6;
  padding-left: 5px;
}

.state span {
  font-size: 0.9rem;
  margin-left: 5px;
  padding: 0 5px 0 5px;

  &.bg-info {
    font-weight: bold;
    background-color: lighten($info, 45%) !important;
    color: darken($info, 20%);
  }
  &.bg-danger {
    font-weight: bold;
    background-color: lighten($danger, 40%) !important;
    color: darken($danger, 20%);
  }
  &.bg-success {
    font-weight: bold;
    background-color: lighten($success, 45%) !important;
    color: darken($success, 20%);
  }

}
