<div class="card">
  <div class="card-header text-paragraph">
    Donations are made for every {{ pointsForReward }} points earned though transcriptions. <a class="text-primary clickable" (click)="showMoreInfo = !showMoreInfo"><span *ngIf="!showMoreInfo">more</span><span *ngIf="showMoreInfo">less</span>...</a>
    <div *ngIf="showMoreInfo" class="pt-2">
      <p>Each time a contribution is <strong>accepted</strong> some points are awarded to the author. The number of points can vary depending on the type of contribution.<br />
        Once the author hits a threshold ({{ pointsForReward }} points) a reward will be generated. This will show a popup allowing them to claim the reward by selecting a charity to receive a small donation.<br /></p>
      This list shows the historic totals of all donations distributed though this system.
    </div>
  </div>
  <div class="card-body p-0">
    <table class="table">
      <tr>
        <th>Recipient</th>
        <th>Total value</th>
      </tr>
      <tr *ngFor="let stat of stats">
        <td>{{stat.donationRecipient}}</td>
        <td>{{stat.donatedAmountUsd | currency}}</td>
      </tr>
      <tr class="text-primary"><th>TOTAL</th><th>{{ totalUSD | currency }}</th></tr>
    </table>
  </div>
</div>
