<div class="container-fluid pt-3">
  <div class="row mb-3">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Import
        </div>
        <div class="card-body">
          <form [formGroup]="importForm">
            <div class="mb-3">
              <label class="form-label">Episode ID</label>
              <input formControlName="epid" type="text" class="form-control" placeholder="publication-SnEn">
            </div>
            <div class="mb-3">
              <label class="form-label">Episode Name (optional)</label>
              <input formControlName="epname" type="text" class="form-control" placeholder="E.g. Guide to...">
            </div>
            <div class="mb-3">
              <label class="form-label">MP3 URI</label>
              <input formControlName="mp3_uri" type="text" class="form-control" placeholder="google cloud URL">
            </div>
          </form>
          <button class="btn btn-primary" [disabled]="!this.importForm.valid" (click)="startImport()">Start Import</button>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          Tscript Imports
        </div>
        <div class="card-body">
          @for (imp of imports; track imp) {
            <div class="row p-2">
              <div class="col-2">{{imp.id}}</div>
              <div class="col-1">{{imp.createdAt}}</div>
              <div class="col-1">{{imp.completedAt || "INCOMPLETE" }}</div>
              <div class="col-1">{{imp.epid}}</div>
              <div class="col-2">{{imp.epname}}</div>
              <div class="col-2">{{imp.mp3Uri}}</div>
              <div class="col-2">{{(imp.log || []).length > 0 ? imp.log[imp.log.length-1].msg : 'No Log'}}</div>
              <div class="col-1"><button class="btn btn-primary btn-sm" (click)="imp.showLog = !imp.showLog">LOG</button></div>
              @if (imp.showLog) {
                <div class="col-12 p-2">
                  @for (log of imp.log; track log) {
                    <div class="row code">
                      <div class="col-2">{{log.stage}}</div>
                      <div class="col-10">{{log.msg}}</div>
                    </div>
                  }
                </div>
              }
            </div>
          }
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          Tscript List
        </div>
        <table class="table">
          @for (ts of chunkedTranscripts; track ts) {
            <tr>
              <td>{{ts.id}}</td>
              <td><button class="btn btn-sm btn-primary" (click)="deleteTscript(ts.id)">Delete</button><td>
            </tr>
          }
        </table>
      </div>
    </div>
  </div>
</div>
