<div class="container-fluid pt-3" *ngIf="result?.results.length">
  <div class="row">
    <div class="col">
      <div *ngFor="let res of result?.results" class="result card mb-3">
        <div class="card-header font-weight-bold">
          <a [routerLink]="['/ep', res?.episode?.id]" [fragment]="'pos-'+(res?.dialogs[0]?.lines[0]?.pos || 0)">
            {{ res.episode?.id }}
          </a>
        </div>
        <div class="card-body">
          <div *ngFor="let dialog of res.dialogs" class="dialog">
            <app-transcript [transcript]="dialog.lines"></app-transcript>
          </div>
        </div>
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li *ngFor="let i of pages" class="page-item" [ngClass]="{'active': i === currentPage}">
            <a class="page-link" [routerLink]="['/search']" [queryParams]="{'page': i}" [queryParamsHandling]="'merge'">{{i}}</a>
          </li>
          <li *ngIf="morePages" class="page-item"><span class="page-link">More...</span></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<div *ngIf="result === undefined || !result?.results.length" class="d-flex flex-column justify-content-center align-items-center h-100 pt-4">
  <div *ngIf="result !== undefined && result?.results.length === 0" class="card w-50 no-results mb-4">
    <div class="card-body text-center">
      Alright, there weren't any results for that search and that.
    </div>
  </div>

  <div class="card w-50 episode-list">
    <div class="card-header">
      Episodes
    </div>
    <div class="card-body text-center">
      <div class="row">
        <div class="col">
          <strong>Xfm Series 1</strong>
          <ng-container *ngFor="let ep of episodeList">
            <div *ngIf="ep.series === 1" >
              <a [routerLink]="['/ep', ep.id]">{{ep.id}}</a>
            </div>
          </ng-container>
        </div>
        <div class="col">
          <strong>Xfm Series 2</strong>
          <ng-container *ngFor="let ep of episodeList">
            <div *ngIf="ep.series === 2" >
              <a [routerLink]="['/ep', ep.id]">{{ep.id}}</a>
            </div>
          </ng-container>
        </div>
        <div class="col">
          <strong>Xfm Series 3</strong>
          <ng-container *ngFor="let ep of episodeList">
            <div *ngIf="ep.series === 3" >
              <a [routerLink]="['/ep', ep.id]">{{ep.id}}</a>
            </div>
          </ng-container>
        </div>
        <div class="col">
          <strong>Xfm Series 4</strong>
          <ng-container *ngFor="let ep of episodeList">
            <div *ngIf="ep.series === 4" >
              <a [routerLink]="['/ep', ep.id]">{{ep.id}}</a>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
<app-loading-overlay [loading]="loading"></app-loading-overlay>

