<div class="container-fluid pt-3" *ngIf="result?.results.length">
  <div class="row mb-3">
    <div class="col">
      <app-search-stats [rawStats]="result?.stats"></app-search-stats>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div *ngFor="let res of result?.results" class="result card mb-3 animate__animated animate__fadeIn animate__faster">
        <div class="card-header font-weight-bold">
          <div class="d-flex justify-content-between">
            <div>
              <a [routerLink]="['/ep', res?.episode?.id]" [fragment]="res?.dialogs[0]?.transcript | matchedRowPos">
                {{ res.episode?.id }}
              </a>
            </div>
            <div>
              <app-transcript-copy-dialog [payload]="res"></app-transcript-copy-dialog>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div *ngFor="let dialog of res.dialogs" class="dialog">
            <app-transcript
              [transcript]="dialog"
              [searchResultMode]="true"
              [enableLineLinking]="false"
              [enableLineCopy]="true"
              (emitAudioTimestamp)="onAudioTimestamp(res.episode,  $event)"></app-transcript>
          </div>
        </div>
      </div>
      <nav aria-label="pages">
        <ul class="pagination">
          <li *ngFor="let i of pages" class="page-item" [ngClass]="{'active': i === currentPage}">
            <a class="page-link" [routerLink]="['/search']" [queryParams]="{'page': i}" [queryParamsHandling]="'merge'">{{i}}</a>
          </li>
          <li *ngIf="morePages" class="page-item"><span class="page-link">More...</span></li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<div class="container-fluid pt-3" *ngIf="(loading || []).length === 0 && query !== '' && !result?.results?.length">
  <div class="vh-100 d-flex flex-column justify-content-around align-items-center">
    <div class="card no-results mb-4" style="max-width: 800px;">
      <div class="card-body text-center">
        <strong>No transcripts found that matched your search terms</strong>
      </div>
      <div class="card-body">
        <ul>
          <li>If your search is "double quoted" try removing the quotes.</li>
          <li>To match on multiple exact terms in any order "quote" "each" "term" "separately".</li>
          <li>The episode my not have been fully transcribed. See <a routerLink="/contribute">Contribute</a>.</li>
          <li>Report a bug on <a target="_blank" href="https://reddit.com/r/scrimpton">/r/scrimpton</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div *ngIf="query === ''" class="container pt-4">
  <div class="row">
    <div class="col">
      <ul class="nav nav-tabs font-weight-bold">
        <li class="nav-item mr-2">
          <a class="nav-link" (click)="activeInfoPanel='contribute'" [ngClass]="{'active': activeInfoPanel === 'contribute'}">Contribute</a>
        </li>
        <li class="nav-item mr-2">
          <a class="nav-link" (click)="activeInfoPanel='changelog'" [ngClass]="{'active': activeInfoPanel === 'changelog'}">Changelog</a>
        </li>
      </ul>
      <div class="card mb-4" *ngIf="activeInfoPanel === 'contribute'">
        <div class="card-header"></div>
        <div class="card-body">
          <img class="float-right illustration mr-2 d-none d-xl-block" src="/assets/illustration/rgs-pointer.svg" style="width: 150px"/>
          <p>This site was built with the help of community contributions. Users can contribute in various ways including transcribing audio or editing existing transcripts. To
            ask a question, request a feature or report a bug head over to <a target="_blank" href="https://reddit.com/r/scrimpton">/r/scrimpton</a>.</p>
          <p>To get involved you just need a reddit account. You can also <a href="https://www.buymeacoffee.com/scrimptonsite" target="_blank">donate</a> to help pay server costs
            via BuyMeACoffee.</p>
          <p>There are currently <strong class="text-primary">{{contributionsNeeded || 0}}</strong> contributions needed.</p>
          <button class="btn btn-primary" [routerLink]="['/contribute']">Contribute</button>
        </div>
      </div>
      <div class="card mb-4" *ngIf="activeInfoPanel === 'changelog'">
        <div class="card-header"></div>
        <div class="card-body">
          <div class="font-weight-bold mb-2">{{latestChangelog.date}}</div>
          <app-markdown [raw]="latestChangelog.content"></app-markdown>
          <div>
            <a [routerLink]="['/changelog']">More...</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-episode-list></app-episode-list>
    </div>
  </div>
</div>
<app-loading-overlay [loading]="loading.length > 0"></app-loading-overlay>

