<div class="container-fluid pt-3" *ngIf="result?.results.length">
  <div class="row mb-3">
    <div class="col">
      <app-search-stats [rawStats]="result?.stats"></app-search-stats>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div *ngFor="let res of result?.results" class="result card mb-3">
        <div class="card-header font-weight-bold">
          <a [routerLink]="['/ep', res?.episode?.id]" [fragment]="res?.dialogs[0]?.transcript | matchedRowPos">
            {{ res.episode?.id }}
          </a>
        </div>
        <div class="card-body">
          <div *ngFor="let dialog of res.dialogs" class="dialog">
            <app-transcript
              [transcript]="dialog"
              [searchResultMode]="true"
              [enableLineLinking]="false"
              (emitAudioTimestamp)="onAudioTimestamp(res.episode,  $event)"></app-transcript>
          </div>
        </div>
      </div>
      <nav aria-label="pages">
        <ul class="pagination">
          <li *ngFor="let i of pages" class="page-item" [ngClass]="{'active': i === currentPage}">
            <a class="page-link" [routerLink]="['/search']" [queryParams]="{'page': i}" [queryParamsHandling]="'merge'">{{i}}</a>
          </li>
          <li *ngIf="morePages" class="page-item"><span class="page-link">More...</span></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<div *ngIf="result === undefined || !result?.results.length" class="container pt-4">
  <div class="row mb-4">
    <div class="col">
      <div *ngIf="result !== undefined && result?.results.length === 0" class="card no-results mb-4">
        <div class="card-body text-center">
          Alright, there weren't any results for that search and that.
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card mb-4">
        <div class="card-header">Contribute</div>
        <div class="card-body">
          <p>This site was built with the help of community contributions. Users can contribute in various ways including transcribing audio or editing existing transcripts.</p>
          <p>To get involved you just need a reddit account.</p>
          <button class="btn btn-primary" [routerLink]="['/contribute']">Contribute</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="latestChangelog">
    <div class="col">
      <div class="card mb-4">
        <div class="card-header">Changelog - {{latestChangelog.date}} </div>
        <div class="card-body">
          <app-markdown [raw]="latestChangelog.content"></app-markdown>
          <div class="text-right">
            <a [routerLink]="['/changelog']">More...</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-episode-list></app-episode-list>
    </div>
  </div>
</div>
<app-loading-overlay [loading]="loading.length > 0"></app-loading-overlay>

