<div id="waveform"></div>
<div id="wave-timeline"></div>
<div *ngIf="wave" class="controls pt-2 mt-2">
  <button *ngIf="!wave.isPlaying()" class="btn btn-sm btn-info mr-2" (click)="onPlayPressed()"><i class="bi-play"></i> Play</button>
  <button *ngIf="wave.isPlaying()" class="btn btn-sm btn-info mr-2" (click)="onPausePressed()"><i class="bi-pause"></i> Pause</button>
  <a class="btn btn-sm btn-primary" target="_blank" [href]="exportURL"><i class="bi-download"></i> Download</a>
</div>
<app-loading-overlay [loading]="loading"></app-loading-overlay>
