<div class="card episode-list">
  <div class="card-header p-2">
    <span class="d-flex">
      <a
        class="nav-link clickable py-0 pr-3 pl-1"
        [ngClass]="{ active: sortDirection === 'desc', 'text-muted': sortDirection !== 'desc' }"
        (click)="setSortDirection('desc')"
        >Top 20</a
      >
      <a
        class="nav-link clickable py-0 pr-3 pl-1"
        [ngClass]="{ active: sortDirection === 'asc', 'text-muted': sortDirection !== 'asc' }"
        (click)="setSortDirection('asc')"
        >Bottom 20</a
      >
    </span>
  </div>
  <div class="card-body">
    <app-loading-spinner [loading]="loading.length > 0"></app-loading-spinner>
    @for (ep of transcriptList; track ep) {
      <div class="mb-2 episode-container animate__animated animate__fadeIn animate__faster">
        <app-episode-summary [episode]="ep"></app-episode-summary>
      </div>
    }
  </div>
</div>
