<div class="container-fluid pt-3">
  <div class="row mb-3">
    <div class="col">

      <div class="d-flex">
        <div class="flex-grow-1">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="['/search']">Home</a></li>
              <li class="breadcrumb-item"><a [routerLink]="['/contribute']">Contribute</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{tscriptID}}</li>
            </ol>
          </nav>
        </div>
        <div class="text-right pt-2">
          <button class="btn btn-sm btn-info" (click)="toggleFilterPendingApproval()">
            Pending Approval Only
            <i class="bs bi-filter-circle-fill" *ngIf="pendingApprovalOnly"></i>
            <i class="bs bi-filter-circle" *ngIf="!pendingApprovalOnly"></i>
          </button>
        </div>
      </div>

      <div class="card mb-3">
        <div *ngFor="let ch of chunks">
          <ng-container *ngIf="!pendingApprovalOnly || (pendingApprovalOnly && (groupedContributions[ch.id] || []).length > 0)">
            <div class="card-header">
              {{ch.id}}
              <span *ngIf="(groupedContributions[ch.id] || []).length === 0">
                No contributions (<a [routerLink]="['/chunk', ch.id]">Create one now</a>)
              </span>
              <span *ngIf="(groupedContributions[ch.id] || []).length > 0">
                by {{groupedContributions[ch.id][(ch.selectedContribution || 0)].author.name}} ::
                <app-contribution-state [state]="groupedContributions[ch.id][(ch.selectedContribution || 0)].state"></app-contribution-state>
              </span>

              <div class="float-right" *ngIf="(groupedContributions[ch.id] || []).length > 1">
                <select
                  class="form-control form-control-sm" style="max-width: 400px"
                  (change)="ch.selectedContribution = $event.target.value">
                  <option
                    *ngFor="let contrib of groupedContributions[ch.id]; let i = index;"
                    [value]="i"
                    [selected]="ch.selectedContribution === i">{{contrib.id}} ({{contrib.state}})
                  </option>
                </select>
              </div>
            </div>
            <div class="card-body">
              <div *ngIf="(groupedContributions[ch.id] || []).length === 0" class="text-muted">
                <app-transcript [transcript]="parseTscript(ch.raw)"></app-transcript>
              </div>
              <div *ngIf="(groupedContributions[ch.id] || []).length > 0">
                <app-transcript [transcript]="parseTscript(groupedContributions[ch.id][(ch.selectedContribution || 0)].transcript)"></app-transcript>
              </div>
            </div>
            <div *ngIf="(groupedContributions[ch.id] || []).length > 0">
              <div class="card-footer" *ngIf="approver && groupedContributions[ch.id][(ch.selectedContribution || 0)].state === states.STATE_REQUEST_APPROVAL">
                <a class="btn btn-success mr-3" (click)="updateState(groupedContributions[ch.id][(ch.selectedContribution || 0)], states.STATE_APPROVED)">Approve</a>
                <a class="btn btn-danger mr-3" (click)="updateState(groupedContributions[ch.id][(ch.selectedContribution || 0)], states.STATE_REJECTED)">Reject</a>
                <a class="btn btn-info" [routerLink]="['/chunk', ch.id, 'contrib', groupedContributions[ch.id][(ch.selectedContribution || 0)].id]">Edit</a>
              </div>
            </div>
          </ng-container>
        </div>
      </div>

      <!--div class="card mb-3" *ngFor="let co of approvalList">
        <div class="card-header" *ngIf="!co.id">
          {{co.chunkId}}
        </div>
        <div class="card-header" *ngIf="co.id">
          <div class="d-flex mb-3">
            <div class="flex-grow-1">
              <span class="float-left mr-2 pt-1">{{co.chunkId}} :: {{co.author.name}} :: </span>
              <select class="form-control form-control-sm" style="max-width: 400px" *ngIf="co.id"
                      (change)="selectChunkContribution(co.id, $event)">
                <option
                  *ngFor="let contrib of groupedContributions[co.chunkId]"
                  [value]="contrib.id"
                  [selected]="co.id === contrib.id">{{contrib.id}} ({{contrib.state}})
                </option>
              </select>
            </div>
            <div class="flex-grow-1 text-right" *ngIf="co.id">
              <div><app-contribution-state [state]="co.state"></app-contribution-state></div>
            </div>
          </div>
          <div>
            <ul class="nav nav-tabs card-header-tabs ml-1">
              <li class="nav-item mr-2">
                <a class="nav-link active" [ngClass]="{'active': !co.show_preview}" (click)="co.show_preview = false">Raw</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': co.show_preview}" (click)="co.show_preview = true">Preview</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card-body pb-0">
          <div *ngIf="co.id">
            <div *ngIf="!co.show_preview">
              <app-editor [readonly]="true" [textContent]="co.transcript"></app-editor>
            </div>
            <div *ngIf="co.show_preview">
              <app-synopses [synopses]="parseTscript(co.transcript).synopses"></app-synopses>
              <app-transcript [transcript]="parseTscript(co.transcript)"></app-transcript>
            </div>
          </div>
          <div *ngIf="!co.id" class=" pb-4">
            <i class="bi-exclamation-octagon mr-2"></i> No contributions for this chunk. <a
            [routerLink]="['/chunk', co.chunkId]">Add one!</a>
          </div>
        </div>
        <div class="card-footer" *ngIf="approver && co.id && co.state === states.STATE_REQUEST_APPROVAL">
          <a class="btn btn-success mr-3" (click)="updateState(co, states.STATE_APPROVED)">Approve</a>
          <a class="btn btn-danger mr-3" (click)="updateState(co, states.STATE_REJECTED)">Reject</a>
          <a class="btn btn-info" [routerLink]="['/chunk', co.chunkId, 'contrib', co.id]">Edit</a>
        </div>
      </div-->
    </div>
  </div>
</div>
<app-loading-overlay [loading]="loading.length > 0"></app-loading-overlay>
