@import "imports";

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}

pre {
  @include theme() {
    color: theme-get('text-color');
  }
}

.navbar {
  z-index: 100;

  box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.05);

  @include theme() {
    background-color: theme-get('navbar-bg') !important;
    border-bottom: 1px solid theme-get('fg-body');
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}

span.code {
  font-family: monospace;
  white-space: pre;
  background-color: $code;
  padding: 2px 5px;

  @include theme() {
    background-color: theme-get('code-bg');
  }
}

.modal.open {
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
}

.card {
  box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.05);

  @include theme() {
    background-color: theme-get('fg-body');
  }

  .card-body {
    @include theme() {
      background-color: theme-get('fg-body');
      color: theme-get('text-color');
    }
  }

  .card-notification {
    @include theme() {
      background-color: theme-get('fg-body-lighter');
      color: theme-get('text-color');
    }
  }

  .card-header {
    font-weight: bold;;
    color: $primary;
    @include theme() {
      background-color: theme-get('fg-body-darker');
    }

    .text-muted {
      @include theme() {
        color: theme-get('fg-body');
      }
    }

    .btn-secondary {
      background-color: transparent;
      border-color: transparent;
    }
  }

  .card-footer {
    @include theme() {
      color: theme-get('text-color');
    }
  }
}

.table {
  @include theme() {
    color: theme-get('text-color');
  }

  th, td {
    @include theme() {
      border-top: 1px solid theme-get('fg-border');
    }
    vertical-align: middle;
  }
}

.breadcrumb {
  background-color: transparent;
  //@include theme() {
  //  background-color: theme-get('fg-body');
  //  color: theme-get('text-color');
  //}
}

.progress {
  @include theme() {
    background-color: theme-get('progress-bg') !important;
  }
}

.modal-content {
  @include theme() {
    background-color: theme-get('fg-body') !important;
  }

  .modal-footer, .modal-header {
    @include theme() {
      border-color: theme-get('fg-border') !important;
    }
  }
}

.modal-body, .modal-header {
  @include theme() {
    color: theme-get('text-color');
  }
}

.nav-tabs {

  border-bottom: none;
  z-index: 1000;
  top: 1px;
  position: relative;

  .nav-link.active, .nav-item.show .nav-link {
    border-bottom: none;
    @include theme() {
      color: theme-get('text-color');
      background-color: theme-get('fg-body-darker') !important;
      border-color: theme-get('fg-border');
    }
  }

  .nav-link:hover {
    border: 1px solid;
    outline: none;
    box-shadow: none;
    cursor: pointer;
  }
}

.text-sm {
  font-size: 0.8rem;
}

.text-xs {
  font-size: 0.5rem;
}

.btn-transparent {
  background-color: transparent;
  @include theme() {
    color: theme-get('text-color') !important;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:hover {
    @include theme() {
      color: theme-get('text-color') !important;
    }
  }
}

.btn-xs {
  @include button-size($input-btn-padding-y-xs, $input-btn-padding-x-xs, $input-btn-font-size-xs, $input-btn-line-height-xs, $btn-border-radius-sm);
}


.close {
  @include theme() {
    color: theme-get('text-color');
  }
}

.clickable {
  cursor: pointer;
}

.user-icon {
  background-position: center;
  background-size: contain;
}

.pagination {
  .page-link:hover {
    @include theme() {
      background-color: theme-get('hover-highlight');
      color: #fff;
    }
  }
}

.form-control.themed {
  @include theme() {
    background-color: theme-get('fg-body-darker');
    color: theme-get('text-color');
    border-color: theme-get('fg-body-lighter');
  }
}

.form-control.themed:active, .form-control.themed:focus {
  outline: none;
  box-shadow: none;
}
