$themes: (
  dark-theme: (
    'text-color': #f7f7ff,
    'bg-color': #17191F,
    'fg-body': #2f343a,
    'fg-body-darker': #2A2E33,
    'progress-bg': #17191F,
    'navbar-bg': #343A40,
    'code-bg': #17191F,
    'hover-highlight': rgba(255, 255, 255, 0.2),

    // stop calling vars "lighter/darker" as it doesn't always apply for each theme.
    'header-block-bg': #2A2E33,
    'header-block-border': darken(#2A2E33, 5%),
    'header-block-text': #f7f7ff,
    'header-block-bg-highlight': lighten(#2A2E33, 10%),

    'body-block-border': #292d32,
    'body-block-standout': lighten(#343A40, 10%),

    // used for inverting svg colours
    'invert-pcnt': 90%,
  ),
  light-theme: (
    'text-color': #333333,
    'bg-color': #f6f6f6,
    'fg-body': #fff,
    'fg-body-darker': darken(#F7F7F7, 2%),
    'progress-bg': #e9ecef,
    'navbar-bg': darken(#F7F7F7, 10%),
    'code-bg': #d9d9d9,
    'hover-highlight': transparentize(#E15132, 0.2),

    // stop calling vars "lighter/darker" as it doesn't always apply for each theme.
    'header-block-bg': darken(#F7F7F7, 2%),
    'header-block-border': #dee2e6,
    'header-block-text': #333333,
    'header-block-bg-highlight': darken(#F7F7F7, 10%),

    'body-block-border': #dee2e6,
    'body-block-standout': darken(#F7F7F7, 10%),

    // used for inverting svg colours
    'invert-pcnt': 0%,
  )
);

@mixin theme() {
  @each $theme, $map in $themes {

    $theme-map: $map !global;

    .#{$theme} & {
      @content;    // the content inside @include theme() {...}
    }
  }
  // no use of the variable $theme-map now
  $theme-map: null !global;
}

@function theme-get($key) {
  @return map-get($theme-map, $key);
}

body.dark-theme {
  background-color: #17191F;
  color: #fff;
}

body.light-theme {
  background-color: #f6f6f6;
  color: #333333;
}
