/* corners */
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

/* navbar */
$navbar-padding-y: 1rem;

/* fonts */
$font-family-base: 'Roboto Slab', serif;

/* custom */
$dark-border: #333;
$light-border: #ccc;

$background-color: #f6f6f6;
$font-color: #333;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
