/* corners */
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

/* navbar */
$navbar-padding-y: 1rem;

/* fonts */
$font-family-base: 'Roboto Slab', serif;

/* cards */
//$card-cap-bg: darken();

/* colors */
$primary: #E15132;

$pink: #D03E65;
$purple: #A34785;
$deep-purple: #6B508B;
$blue: #3D5078;
$deep-blue: #2F4858;
$code: #d9d9d9;

/* custom */
$dark-border: #333;
$light-border: #ccc;

/* pagination */
$pagination-bg: transparent;
$pagination-border-color: transparent;
$pagination-hover-border-color: transparent;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

/* ng select */

$ng-select-bg: darken(#f6f6f6, 4);
$ng-select-border: transparent;

$color-steve: rgba(63, 247, 39, 0.1);
$color-steve-saturated: rgb(63, 247, 39);

$color-ricky: rgba(249, 223, 22, 0.1);
$color-ricky-saturated: rgba(249, 223, 22, 1);

$color-karl: rgba(75, 244, 244, 0.1);
$color-karl-saturated: rgb(75, 244, 244);


/* even smaller button */
$input-btn-padding-y-xs:      .125rem !default;
$input-btn-padding-x-xs:      .25rem !default;
$input-btn-font-size-xs:      $font-size-sm * 0.80  !default;
$input-btn-line-height-xs:    $line-height-sm * 0.80 !default;


