<div class="container-fluid pt-3" *ngIf="claims">
  <div class="row mb-3">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <button class="btn btn-danger btn-sm float-right" (click)="logout()">Logout</button>
          Linked Account
        </div>

        <div class="d-flex">
          <div class="flex-shrink-1">
            <img class="img-thumbnail bg-transparent border-0" [src]="claims.identity.icon_img" style="max-width: 100px"/>
          </div>
          <div class="flex-grow-1">
            <table class="table mb-0">
              <tr>
                <th style="width: 100px;">ID</th>
                <td>{{claims.identity.id}}</td>
              </tr>
              <tr>
                <th style="width: 100px;">Name</th>
                <td>{{claims.identity.name}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">

      <app-claimed-rewards [rewards]="rewards"></app-claimed-rewards>

      <div class="card mb-3">
        <div class="card-header">My Contributions</div>
        <table class="table mb-0">
          <tr *ngFor="let row of contributions">
            <td style="width: 300px;">
              <a *ngIf="row.state === states.STATE_PENDING || row.state === states.STATE_REQUEST_APPROVAL || row.state === states.STATE_REJECTED"
                 [routerLink]="['/chunk', row.chunkId, 'contrib', row.id]">{{row.id}}</a>
              <span *ngIf="row.state !== states.STATE_PENDING && row.state !== states.STATE_REQUEST_APPROVAL && row.state !== states.STATE_REJECTED ">{{row.id}}</span>
            </td>
            <td style="width: 300px;"><app-contribution-state [state]="row.state"></app-contribution-state></td>
            <td>{{ row.stateComment }}</td>

            <td style="width: 50px"><button class="btn btn-danger btn-sm" (click)="discardDraft(row.chunkId, row.id)" [disabled]="row.state != states.STATE_PENDING">Discard</button></td>
          </tr>
        </table>
      </div>

      <div class="card mb-3">
        <div class="card-header">My Edits</div>
            <table class="table p-0">
              <tr>
                <th>Episode</th>
                <th>State</th>
                <th>Created At</th>
                <th>Points Awarded</th>
                <th></th>
                <th></th>
              </tr>
              <tr *ngFor="let change of changes">
                <td>{{change.episodeId}}</td>
                <td>
                  <app-contribution-state [state]="change.state"></app-contribution-state>
                </td>
                <td>{{change.createdAt}}</td>
                <td>{{change.pointsAwarded || 'NA'}}</td>
                <td>
                  <a *ngIf="change.state === states.STATE_PENDING || change.state === states.STATE_REQUEST_APPROVAL || change.state === states.STATE_REJECTED" class="btn btn-sm btn-info" [routerLink]="['/ep', change.episodeId, 'change', change.id]">View</a>
                  <span *ngIf="change.state !== states.STATE_PENDING && change.state !== states.STATE_REQUEST_APPROVAL && change.state !== states.STATE_REJECTED ">-</span>
                </td>
                <td></td>
              </tr>
            </table>
      </div>
    </div>
  </div>
</div>
<app-reddit-login [open]="!claims"></app-reddit-login>

<app-loading-overlay [loading]="loading.length > 0"></app-loading-overlay>
