name: server build/publish

on:
  push:
    branches: [ main, develop ]

  pull_request:
    branches: [ develop ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: "^1.20.0"
      - uses: actions/checkout@v3
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.53.3
          working-directory: server
          skip-cache: true
          args: --timeout=5m
  build:
    runs-on: ubuntu-latest
    env:
      working-directory: ./server
    steps:
      - uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: "^1.20.0"

      - name: Build
        working-directory: ${{env.working-directory}}
        run: make build

      - name: Test
        working-directory: ${{env.working-directory}}
        run: go test -v ./...

      - name: Generate data
        working-directory: ${{env.working-directory}}
        run: make init.all generate.artifacts

      - name: Store binaries
        uses: actions/upload-artifact@v3
        with:
          name: server-binaries
          path: ${{env.working-directory}}/bin
          retention-days: 1

      - name: Store generated data
        uses: actions/upload-artifact@v3
        with:
          name: server-data
          path: ${{env.working-directory}}/var/gen
          retention-days: 1

  publish:
    runs-on: ubuntu-latest
    needs:
      - build
      - lint
    if: ${{ github.ref == 'refs/heads/main' }}
    env:
      working-directory: ./server
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Download server binaries
        uses: actions/download-artifact@v3
        with:
          name: server-binaries
          path: ${{env.working-directory}}/bin

      - name: Download generated data
        uses: actions/download-artifact@v3
        with:
          name: server-data
          path: ${{env.working-directory}}/var/gen

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push server
        uses: docker/build-push-action@v4
        with:
          context: ./server
          push: true
          tags: warmans/rsk-search-api:latest
